.ModalView {
    &_overlay {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        padding: 50px;

        background-color: rgba(0, 0, 0, 0.7);
    }

    &__body {
        margin: auto;
        overflow: hidden;
        background-color: $element-background-color;
    }

    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        > * {
            display: inline-block;
        }
    }

    &__close {
        cursor: pointer;
        width: 24px;
        height: 24px;


        svg {
            path {
                stroke: $text-color;
            }
        }
    }

    &__content {
    }

    &__footer {
    }

    &__controls.ControlsView {
        flex-direction: row-reverse;
    }

    // Fade animation
    &_overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &_overlay-after {
        opacity: 1;
    }

    &_overlay-before {
        opacity: 0;
    }
}

// Class to hide body scroll, when Modal is opened
.ModalView_body-hide-scroll {
    overflow: hidden;
}
