.ModalView {
    $root: &;
    min-width: 300px;

    &_overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        padding: 50px;

        background-color: rgba(0, 0, 0, 0.7);
    }

    &__body {
        margin: auto;
        overflow: visible;
        background-color: $element-background-color;
        color: $text-color;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        &_size {
            &_lg {
                border-radius: 16px;

                font-size: $font-size-lg;
                line-height: $line-height-lg;

                #{$root}__header {
                    padding: 24px;
                }

                #{$root}__content {
                    padding: 24px;
                }

                #{$root}__footer { 
                    padding: 24px;
                }
            }
            &_md {
                border-radius: $radius-large;

                font-size: $font-size-base;
                line-height: $line-height-base;

                #{$root}__header {
                    padding: 21px 20px;
                }

                #{$root}__content {
                    padding: 20px;
                }

                #{$root}__footer { 
                    padding: 20px;
                }
            }
            &_sm {
                border-radius: $radius-small;

                font-size: $font-size-sm;
                line-height: $line-height-sm;

                #{$root}__header {
                    padding: 19px 16px;
                }

                #{$root}__content {
                    padding: 16px;
                }

                #{$root}__footer { 
                    padding: 16px;
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        > * {
            display: inline-block;
        }
    }

    &__title {
        font-size: inherit;
        line-height: inherit;
        font-weight: $font-weight-lg;
    }

    &__close {
        cursor: pointer;
        width: 24px;
        height: 24px;

        svg {
            path {
                stroke: $text-color;
            }
        }
    }

    &__content {
        font-size: inherit;
        line-height: inherit;
    }

    &__footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
    }

    // Fade animation
    &_overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &_overlay-after {
        opacity: 1;
    }

    &_overlay-before {
        opacity: 0;
    }
}

// Class to hide body scroll, when Modal is opened
.ModalView_body-hide-scroll {
    overflow: hidden;
}
