.HeaderView {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
  background-color: $gray;

  a:hover {
    opacity: .7;
  }

  &__logo {
    .ButtonView__text {
      color: $text-color;
    }
  }
  
  &__logo-image {
    margin-right: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
  }
  &__logo-svg {
    margin-right: 12px;
  }

}