.HeaderView {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    width: 100%;
    background-color: $element-background-color;
    border-bottom: 1px solid $element-placeholder-color-disabled;

    &__logo {

        //Logo wrapper
        .ButtonView__text { 
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            column-gap: 9px;
        }


        &-image {
            width: 36px;
            height: 36px;
        }

        &-title {
            color: $text-color;
            font-weight: $font-weight-lg;
            font-size: $font-size-base;
            line-height: $line-height-base;
        }
    }

    
    &__logo-svg {
        margin-right: 12px;
    }
}
