@import '~react-day-picker/lib/style.css';

.DayPickerInput {
  display: block;
}

.DayPickerInput-Overlay {
  top: 5px;
}
.DayPickerInput-OverlayWrapper {
  z-index: 999;
}

.DateFieldView {
  $root: &;

  position: relative;

  &_has-icon {
    #{$root}__input {
      padding-right: 35px;
    }
  }

  &_is-invalid {
    #{$root}__icon {
      right: 40px;
    }

    #{$root}__input {
      padding-right: 65px;
    }
  }

  &__input {

  }

  &__icon {
    position: absolute;
    top: 50%;
    right: $input-padding-x;
    transform: translateY(-50%);
    pointer-events: none;

    &_default {
      top: 45%;
    }
  }
}
