@import '~react-day-picker/lib/style.css';

.DayPickerInput {
  display: block;
}

.DayPickerInput-Overlay {
  top: 5px;
}
.DayPickerInput-OverlayWrapper {
  z-index: 999;
}

.DateFieldView {
  $root: &;

  position: relative;

  &_has-icon {
    #{$root}__input {
      padding-right: 35px;
    }
  }

  &_is-invalid {
    #{$root}__icon {
      right: 40px;
    }

    #{$root}__input {
      padding-right: 65px;
    }
  }

  &__input {

  }

  &__icon {
    position: absolute;
    top: 50%;
    right: $input-padding-x;
    transform: translateY(-50%);
    pointer-events: none;

    &_default {
      top: 45%;
    }
  }

  &__caption {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .DropDownFieldView__drop-down-list {
      max-height: 220px;
    }
  }

  &__caption-year {
    width: 115px;
  }

  &__caption-month {
    width: 70px;

    .DropDownFieldView__selected-items {
      min-width: 70px;
    }
  }
}
