@import "style/variables";

:root {
    --drop-down-item-hover-background-color: #f5f8fa;
    --drop-down-item-select-background-color: #eef1f2;
}

html[data-theme="dark"] {
    --drop-down-item-select-background-color: #5b5c6b;
    --drop-down-item-hover-background-color: #4e4f57;
}

$drop-down-item-select-background-color: var(--drop-down-item-select-background-color);
$drop-down-item-hover-background-color: var(--drop-down-item-hover-background-color);

%fontProperties {
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 22px;
}

.DropDownItemView {
    $root: &;

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__option {
        display: flex;
        flex-flow: row wrap;
        column-gap: 12px;
        align-items: center;

        &_size {
            &_lg {
                padding: 16px;
            }

            &_md {
                padding: 12px;
            }

            &_sm {
                padding: 8px;
            }
        }

        &_select {
            background-color: $drop-down-item-select-background-color;
        }
        &_hover {
            background-color: $drop-down-item-hover-background-color;
        }
    }

    &__checkbox {
        width: 100%;
        height: 24px;
        pointer-events: none;

        label {
            width: 100%;
        }
    }

    &__img {
        width: 24px;
        height: 24px;
        border-radius: $radius-small;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__radio {
        width: 100%;
        div {
            width: 100%;
        }

        label {
            width: 100%;
        }

        label::before {
            position: absolute;
            right: 0;
            margin-right: 0;
        }

        label::after {
            position: absolute;
            right: 0;
        }

        span {
            position: absolute;
        }

        &_size { 
            &_lg {
                span { 
                    left: 88.2%
                }
            }

            &_md {
                span { 
                    left: 90.5%;
                    top: 2%;
                }
            }

            &_sm { 
                span { 
                    left: 92.7%;
                    top: 13.5%;
                }
            }
        }
    }
}
