.IconView {
  svg {
    width: $icon-size;
  }

  &_size_sm svg {
    width: $icon-size-sm;
  }

  &_size_lg svg {
    width: $icon-size-lg;
  }
}

img.IconView {
  width: $icon-size;

  &_size_sm {
    width: $icon-size-sm;
  }

  &_size_lg {
    width: $icon-size-lg;
  }
}