@use "../../scss/variables";
@use '../../scss/mixins';

.TimeFieldView {
    $root: &;
    position: relative;

    @include mixins.date-default-input();

    @include mixins.date-default-body();

    @include mixins.icon-container($root);

    @include mixins.date-default-sizes($root);

    @include mixins.date-default-effects($root);

    &__dropdown { 
        background: variables.$element-background-color;

        min-width: unset;

        @include mixins.calendar-border();
    }

    @include mixins.date-time-panel($root);

    &__panel-container {

        .TimePanelView__footer { 
            padding: 0;
            padding-top: 10px;
            display: flex;
            flex-flow: row nowrap;
            column-gap: 10px;   
        }

        &:has(.TimePanelView__button_now) {
            .TimePanelView {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__button_now {
                    margin-bottom: 6px;
                }
            }
            .TimePanelView__footer {
                flex-direction: column;
            }
            
        }
    }
}

