@use "../../scss/variables";
@use '../../scss/mixins';

.TimePanelView {
    font-weight: 500;
    user-select: none;

    &__header {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-left: 1px solid variables.$border-default;
        border-bottom: 1px solid variables.$border-default;
    }

    &__body {
        display: flex;
        flex-flow: row nowrap;
        border-radius: variables.$input-border-radius;
    }

    &__column {
        height: 220px;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        @include mixins.scrollWrapper(298px, 0, variables.$scroll-thumb-color, variables.$scroll-track-color);
    }

    &__cell {
        padding: 5px 20px;
        cursor: pointer;

        &_selected {
            background-color: variables.$primary-light;
        }

        transition: background-color 0.1s ease-in;
        &:hover {
            background-color: variables.$back-disabled;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        &_to-end {
            justify-content: flex-end;
        }
    }

    &__button {
        border: none;

        &_now {
            color: variables.$primary;
            background-color: unset;

            transition: color 0.1s ease-in;
            &:hover {
                color: variables.$primary-dark;
            }
        }

        &_ok {
            color: #fff;
            border-radius: 4px;
            background-color: variables.$primary;

            transition: background-color 0.1s ease-in;
            &:hover {
                background-color: variables.$primary-dark;
            }
        }
    }
}
