.TimeFieldView {
    $root: &;
    position: relative;

    @include date-default-input();

    @include date-default-body();

    @include icon-container($root);

    @include date-default-sizes($root);

    @include date-default-effects($root);

    &__dropdown { 
        background: $element-background-color;

        @include calendar-border();
    }

    @include date-time-panel($root);

    &__panel-container {

        .TimeFieldView { 
            width: 100%;
            display: block;
        }

        .TimePanelView__body { 
            width: 100%;
        }
        .TimePanelView__column { 
            width: 50%;
        }

        .TimePanelView__footer { 
            padding: 0;
            padding-top: 10px;
        }
    }
}

