@use "sass:map";
@use '../../../../scss/variables';

$all-directions: top, bottom, left, right;

$positions: (
  top: (
    flex-direction: row,
    justify-content: center,
    padding: (padding-bottom: 16px, padding-top: unset),
    before: (top: unset, bottom: 0),
    size: (width: 100%, height: 1px)
  ),
  bottom: (
    flex-direction: row,
    justify-content: center,
    padding: (padding-top: 16px, padding-bottom: unset),
    before: (top: 0, bottom: unset),
    size: (width: 100%, height: 1px)
  ),
  left: (
    flex-direction: column,
    justify-content: center,
    padding: (padding-top: unset, padding-right: 16px),
    before: (left: unset, right: 1px),
    size: (width: 1px, height: 100%)
  ),
  right: (
    flex-direction: column,
    justify-content: center,
    padding: (padding-top: unset, padding-left: 16px),
    before: (left: 1px, right: unset),
    size: (width: 1px, height: 100%)
  )
);

.RangeButtons {
    position: relative;
    display: flex;

    flex-wrap: wrap;
    width: fit-content;
    gap: 8px;

    padding-top: 16px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--date-range-separator-color);
    }

    &_position {
        @each $dir, $config in $positions {
            &_#{$dir} {
              flex-direction: map.get($config, flex-direction);
              justify-content: map.get($config, justify-content);

              @each $pad, $val in map.get($config, padding) {
                #{$pad}: #{$val};
              }

              &::before {
                @each $prop, $val in map.get($config, before) {
                  #{$prop}: #{$val};
                }
                @each $size, $val in map.get($config, size) {
                  #{$size}: #{$val};
                }
              }
            }
          }
          @each $dir1 in $all-directions {
            @each $dir2 in $all-directions {
              @if $dir1 != $dir2 {
                &_#{$dir1}-#{$dir2} {
                  flex-direction: map.get(map.get($positions, $dir1), flex-direction);
                  justify-content: map.get(map.get($positions, $dir1), justify-content);

                  // padding из первого направления
                  @each $pad, $val in map.get(map.get($positions, $dir1), padding) {
                    #{$pad}: #{$val};
                  }

                  &::before {
                    // before из первого направления
                    @each $prop, $val in map.get(map.get($positions, $dir1), before) {
                      #{$prop}: #{$val};
                    }
                    // size из первого направления
                    @each $size, $val in map.get(map.get($positions, $dir1), size) {
                      #{$size}: #{$val};
                    }
                  }

                  @media (max-width: variables.$tablet-width) {
                    // при адаптиве — использовать второй как fallback
                    flex-direction: map.get(map.get($positions, $dir2), flex-direction);
                    justify-content: map.get(map.get($positions, $dir2), justify-content);

                    @each $pad, $val in map.get(map.get($positions, $dir2), padding) {
                      #{$pad}: #{$val};
                    }

                    &::before {
                      @each $prop, $val in map.get(map.get($positions, $dir2), before) {
                        #{$prop}: #{$val};
                      }
                      @each $size, $val in map.get(map.get($positions, $dir2), size) {
                        #{$size}: #{$val};
                      }
                    }
                  }
                }
              }
            }
          }
    }

    .ButtonView__text {
        text-wrap: nowrap;
    }
}
