.ControlsView {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 8px;

    .ButtonView__icon {
         svg {
            path, circle, rect {
                stroke: currentColor;
            }
        }
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
