.FileFieldItemView {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  padding: 12px 30px 12px 12px;
  width: 100%;
  font-size: $font-size-sm;

  &__left {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
  }

  &__title {
    color: $link-color;

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }

  &_error {
    @include svg-color($danger);

    a {
      color: $danger;
    }
  }

  &__icon {
    height: 25px;
  }

  &:hover &__remove {
    opacity: 1;
  }

  &__text {
    max-height: 80px;
    overflow: hidden;
  }

  &__remove {
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__icon-loading {
    @include loadingAnimation;
    width: 25px;
    height: 25px;
  }

  &__content {
    width: 100%;
  }

  &__progress-track {
    margin-top: 4px;
    height: 4px;
    background-color: $gray;
    border-radius: 4px;
  }

  &__progress-bar {
    height: inherit;
    background-color: #626262;
    border-radius: 4px;
  }
}
