.FileFieldView {
  &__files {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  &__button-label {
    vertical-align: middle;
  }

  &__button-icon {
    margin-right: 5px;
  }
}
