@use "../../scss/variables";
@use '../../scss/mixins';
@use '../../scss/animations' as anim;

$small-image-size: 48px;
$image-border-radius: 8px;

@mixin fullSize {
  width: 100%;
  height: 100%;
}

@mixin textEllipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.FileFieldItemView {
  $root: &;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  padding: 12px 30px 12px 12px;
  width: 100%;
  font-size: variables.$font-size-sm;

  &_images {
    padding: 8px;
    border: 1px solid variables.$gray;
    border-radius: 12px;

    #{$root}__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $small-image-size;
      height: $small-image-size;
      border-radius: $image-border-radius;
      background-color: variables.$light-gray;
    }
  }

  &__overlay {
    display: none;
  }

  &_isWall {
    padding: 5px;
    width: 128px;
    height: 128px;
    border: 1px solid variables.$gray;
    border-radius: 20px;

    #{$root}__title {
      display: block;
      text-align: center;

      &_loading {
        display: none;
      }
    }

    #{$root}__overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      background-color: #000;
      opacity: 0;
      border-radius: 20px;
    }

    &:hover {
      #{$root}__overlay {
        opacity: 0.8;
      }

      #{$root}__link {
        opacity: 1;
      }
    }

    &#{$root}_images {
      #{$root}__title {
        display: none;
      }

      #{$root}__overlay {
        top: 5px;
        right: 5px;
        left: 5px;
        bottom: 5px;
        border-radius: 16px;
      }
    }

    #{$root}__link {
      @include mixins.svg-color(variables.$white);
      position: absolute;
      top: 52px;
      left: 70px;
      z-index: 4;
      opacity: 0;

      circle {
        stroke: variables.$white;
      }
    }

    #{$root}__left {
      @include fullSize;
      flex-direction: column;
      justify-content: center;
    }

    #{$root}__image {
      @include fullSize;
      border-radius: 16px;
    }

    #{$root}__remove {
      @include mixins.svg-color(variables.$white);
      position: absolute;
      left: 30px;
      z-index: 4;

      &_isLoading {
        left: 50px;
      }
    }

    #{$root}__icon-wrapper_loading {
      display: none;
    }

    #{$root}__loading-text {
      display: block;
      margin-top: 16px;
      text-align: center;
    }

    #{$root}__progress-track {
      width: 40px;
    }

    #{$root}__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &#{$root}_error {
      background-color: variables.$light-gray;
    }

    &#{$root}_error {
      #{$root}__title {
        display: block;
      }
    }
  }

  &__image {
    width: $small-image-size;
    height: $small-image-size;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $image-border-radius;
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
  }

  &__link {
    @include textEllipsis;
    color: variables.$link-color;

    &:hover {
      color: variables.$link-color-hover;
      text-decoration: none;
    }
  }

  &__title {
    @include textEllipsis;
    display: none;

    &_loading {
      display: block;
    }
  }

  &_error {
    @include mixins.svg-color(variables.$danger);

    #{$root}__icon {
      circle {
        fill: variables.$danger;
      }
    }

    #{$root}__title {
      color: variables.$danger;
    }

    a,
    a:hover {
      color: variables.$danger;
      cursor: default;
      pointer-events: none;
    }
  }

  &__icon {
    height: 25px;
  }

  &:hover &__remove {
    opacity: 1;
  }

  &__text {
    max-height: 80px;
    overflow: hidden;
  }

  &__remove {
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    height: 25px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__icon-loading {
    @include anim.loadingAnimation;
    display: block;
    width: 24px;
    height: 24px;
  }

  &__loading-text {
    display: none;
  }

  &__content {
    width: 100%;
  }

  &__progress-track {
    margin-top: 4px;
    height: 4px;
    background-color: variables.$gray;
    border-radius: 4px;
  }

  &__progress-bar {
    height: inherit;
    background-color: variables.$primary;
    border-radius: 4px;
  }
}
