@use "../../scss/variables";
@use '../../scss/mixins';

.FileFieldView {
    $root: &;
    width: 100%;

    @include mixins.invalid-button-field($root);

    &__files {
        margin-bottom: 1em;
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &_isWall {
        display: flex;
        column-gap: 10px;

        #{$root}__files {
            flex-direction: row;
            column-gap: 10px;
        }
    }

    &__button {
        margin-bottom: 16px;
        min-width: 200px;

        &_isWall {
            min-width: 128px;
            width: 128px;
            height: 128px;
            border: 1px dashed #6F6B76;
            background-color: variables.$gray;
            border-radius: 20px;

            .ButtonView__label {
                flex-direction: column;
                row-gap: 10px;
            }
        }
    }

    .ButtonView__icon {
        width: 25px;
        height: 25px;
    }
}
