.FileFieldItemView {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  padding: 12px 30px 12px 12px;
  width: 100%;
  font-size: $font-size-sm;

  &__left {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__title {
    color: $text-color;
  }

  &_error {
    @include svg-color($danger);

    a {
      color: $danger;
    }
  }

  &__icon {
    height: 25px;
  }

  &:hover &__remove {
    opacity: 1;
  }

  &__text {
    max-height: 80px;
    overflow: hidden;
  }

  &__remove {
    opacity: 0;
    cursor: pointer;
    height: 25px;
    z-index: 3;
  }
}
