@use "../../../../scss/variables";
@use "../../../../scss/mixins";

:root {
  --kanban-background-color: #fff;
  --add-task-icon-color: #323232;
}

html[data-theme="dark"] {
  --kanban-background-color: #333646;
  --add-task-icon-color: #fff;
}

$sidebar-scroll-thumb-color: var(--sidebar-scroll-thumb-color);
$sidebar-scroll-track-color: var(--sidebar-scroll-track-color);
$add-task-icon-color: var(--add-task-icon-color);

.KanbanColumnView {
  white-space: normal;
  min-width: 375px;
  width: 375px;
  margin-right: 8px;
  padding: 16px 8px 16px 16px;
  border: 1px solid variables.$element-border-color;
  border-radius: 20px;
  color: variables.$text-color;
  background-color: variables.$element-background-color;

  &__header {
    display: flex;
    font-size: 18px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__tasks-count {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 8px;
    color: variables.$element-placeholder-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 10px;
    overflow: scroll;
    overflow-x: hidden;

    @include mixins.scrollWrapper(#{900px}, 8px, $sidebar-scroll-thumb-color, $sidebar-scroll-track-color);

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      margin-bottom: 8px;
    }
  }

  &__button {
    padding-right: 8px;

    .ButtonView {
      margin-top: 1em;
      background-color: variables.$light-gray;

      svg path {
        stroke: $add-task-icon-color;
      }
    }
  }
}
