:root {
    --primary: #651fff;
    --primary-dark: #5218d0;
    --primary-light: #dbcbff;
    --secondary: #a3aee6;
    --secondary-dark: #6b76ad;
    --secondary-light: #d9dfff;
    --success: #2bc945;
    --success-dark: #2abd42;
    --success-light: #b9ffc3;
    --danger: #fb4e4e;
    --danger-dark: #ec4c4c;
    --danger-light: #ffbfbf;
    --info: #a7efff;
    --info-dark: #8fd8e9;
    --info-light: #d3f7ff;
    --warning: #ffe457;
    --warning-dark: #ebd251;
    --warning-light: #fff6c6;
    --graphite: #323232;
    --gray-dark: #e1e1e1;
    --gray: #ededed;
    --light-gray: #f8f8f8;
    --dark: #6f6b76;
    --light: #9088a1;
    --text-color: #312C3A;
    --is-dark: 'false';
}

html[data-theme="dark"] {
    --primary: #8b57ff;
    --primary-dark: #6648a7;
    --primary-light: #ba9bff;
    --secondary: #9ea8db;
    --secondary-dark: #616a95;
    --secondary-light: #bcc3e9;
    --success: #3cf25a;
    --success-dark: #34cc4d;
    --success-light: #74ff8b;
    --danger: #fc6666;
    --danger-dark: #dc5858;
    --danger-light: #ffa1a1;
    --info: #9ae1f1;
    --info-dark: #77c4d6;
    --info-light: #ccf6ff;
    --warning: #ffe457;
    --warning-dark: #ebd251;
    --warning-light: #fff6c8;
    --graphite: #414141;
    --gray-dark: #4e4f57;
    --gray: #5b5c6b;
    --light-gray: #928b9d;
    --dark: #6b6477;
    --light: #b7afc7;
    --text-color: #FFFFFF;
    --is-dark: 'true';
}

/*
 *  SCSS variables implementation
 */
$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$secondary-light: var(--secondary-light);
$success: var(--success);
$success-dark: var(--success-dark);
$success-light: var(--success-light);
$danger: var(--danger);
$danger-dark: var(--danger-dark);
$danger-light: var(--danger-light);
$info: var(--info);
$info-dark: var(--info-dark);
$info-light: var(--info-light);
$warning: var(--warning);
$warning-dark: var(--warning-dark);
$warning-light: var(--warning-light);
$graphite: var(--graphite);
$gray-dark: var(--gray-dark);
$gray: var(--gray);
$light-gray: var(--light-gray);
$dark: var(--dark);
$light: var(--light);
$text-color: var(--text-color);
$is-dark: var(--is-dark);

/*
 * Common colors   
 */

$black: rgba(#000, 1);
$black-60: rgba(#000, 0.6);
$black-30: rgba(#000, 0.3);
$black-10: rgba(#000, 0.1);
$black-4: rgba(#000, 0.04);
$white: #fff;

$link-color: #2ba3fb;

$gradient-blue: linear-gradient(180deg, #651FFF, #BA9BFF);

$color-themes: ();
$color-themes: map-merge(
    (
        "basic": (
            "color": $gray,
            "color-dark": $gray-dark,
            "color-light": $light-gray,
            "text-color": $text-color,
        ),
        "primary": (
            "color": $primary,
            "color-dark": $primary-dark,
            "color-light": $primary-light,
            "text-color": $white,
        ),
        "secondary": (
            "color": $secondary,
            "color-dark": $secondary-dark,
            "color-light": $secondary-light,
            "text-color": $white,
        ),
        "success": (
            "color": $success,
            "color-dark": $success-dark,
            "color-light": $success-light,
            "text-color": $white,
        ),
        "danger": (
            "color": $danger,
            "color-dark": $danger-dark,
            "color-light": $danger-light,
            "text-color": $white,
        ),
        "warning": (
            "color": $warning,
            "color-dark": $warning-dark,
            "color-light": $warning-light,
            "text-color": $text-color,
        ),
        "info": (
            "color": $info,
            "color-dark": $info-dark,
            "color-light": $info-light,
            "text-color": $text-color,
        ),
    ),
    $color-themes
);
