@use "sass:map";

//** Themed colors **//
:root {
    --primary: #651fff;
    --primary-dark: #5218d0;
    --primary-light: #dbcbff;
    --secondary: #a3aee6;
    --secondary-dark: #6b76ad;
    --secondary-light: #d9dfff;
    --success: #2bc945;
    --success-dark: #2abd42;
    --success-light: #b9ffc3;
    --danger: #fb4e4e;
    --danger-dark: #ec4c4c;
    --danger-light: #ffbfbf;
    --info: #a7efff;
    --info-dark: #8fd8e9;
    --info-light: #d3f7ff;
    --warning: #ffe457;
    --warning-dark: #ebd251;
    --warning-light: #fff6c6;

    --graphite-dark: #2b2828;
    --graphite: #323232;
    --mouse: #626262;
    --gray-dark: #cbd5db;
    --gray: #dbe2e6;
    --light-gray: #f1f5f7;

    --additional-gray-dark: #26272f;
    --additional-light-gray: #f8f8f8;
    --additional-light-blue: #f9fcff;

    --text-color: #312c3a;
    --link-color: #2BA3FB;
    --link-color-hover: #00c2ff;

    --background-color: #EDF0F1;

    --element-placeholder-color: rgba(0, 0, 0, 0.3);
    --element-placeholder-color-disabled: rgba(0, 0, 0, 0.1);
    --element-border-color: #dbe2e6;
    --element-border-color-hover: #cbd5db;
    --element-background-color: #FFFFFF;
    --element-background-color-disabled: #f1f5f7;
    --element-field-background-color: #FFFFFF;
    --element-light-label-color: rgba(0, 0, 0, 0.6);

    --scroll-thumb-color: #cbd5db;
    --scroll-track-color: #f1f5f7;
    --icon-color: #323232;

    --diagram-success: var(--success-light);
    --diagram-warning: var(--warning-light);
    --diagram-danger: var(--danger-light);
    --diagram-secondary: var(--secondary-light);
    --sidebar-label-color: #312C3A;
}

html[data-theme="dark"] {
    --primary: #9362ff;
    --primary-dark: #8256e4;
    --primary-light: #b898ff;
    --secondary: #9ea8db;
    --secondary-dark: #727eb7;
    --secondary-light: #bcc3e9;
    --success: #5ecc71;
    --success-dark: #5b9966;
    --success-light: #89e699;
    --danger: #f76e6e;
    --danger-dark: #e95b5b;
    --danger-light: #ffa1a1;
    --info: #9ae1f1;
    --info-dark: #77c4d6;
    --info-light: #ccf6ff;
    --warning: #ffe457;
    --warning-dark: #ebd251;
    --warning-light: #fff6c8;

    --graphite-dark: #16171b;
    --graphite: #191b1f;
    --mouse: #adacac;
    --gray-dark: #272a37;
    --gray: #333646;
    --light-gray: #4b4e5e;

    --additional-gray-dark: #26272f;
    --additional-light-gray: #f8f8f8;
    --additional-light-blue: #f9fcff;

    --text-color: #ffffff;
    --link-color: #2BA3FB;
    --link-color-hover: #00c2ff;

    --background-color: #101216;

    --element-placeholder-color: rgba(255, 255, 255, 0.3);
    --element-placeholder-color-disabled: rgba(255, 255, 255, 0.1);
    --element-border-color: #333646;
    --element-border-color-hover: #272a37;
    --element-background-color: #191B1F;
    --element-background-color-disabled: #333646;
    --element-field-background-color: #101216;
    --element-light-label-color: #fff;

    --scroll-thumb-color: #333646;
    --scroll-track-color: #26272f;
    --icon-color: #FFFFFF;

    --diagram-success: var(--success-dark);
    --diagram-warning: var(--warning-dark);
    --diagram-danger: var(--danger-dark);
    --diagram-secondary: var(--secondary-dark);
    --sidebar-label-color: #ffffff;
}

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$secondary-light: var(--secondary-light);
$success: var(--success);
$success-dark: var(--success-dark);
$success-light: var(--success-light);
$danger: var(--danger);
$danger-dark: var(--danger-dark);
$danger-light: var(--danger-light);
$info: var(--info);
$info-dark: var(--info-dark);
$info-light: var(--info-light);
$warning: var(--warning);
$warning-dark: var(--warning-dark);
$warning-light: var(--warning-light);

$graphite-dark: var(--graphite-dark);
$graphite: var(--graphite);
$mouse: var(--mouse);
$gray-dark: var(--gray-dark);
$gray: var(--gray);
$light-gray: var(--light-gray);

$additional-gray-dark: var(--additional-gray-dark);
$additional-light-gray: var(--additional-light-gray);
$additional-light-blue: var(--additional-light-blue);

$text-color: var(--text-color);
$link-color: var(--link-color);
$link-color-hover: var(--link-color-hover);

$background-color: var(--background-color);

$element-placeholder-color: var(--element-placeholder-color);
$element-placeholder-color-disabled: var(--element-placeholder-color-disabled);
$element-border-color: var(--element-border-color);
$element-border-color-hover: var(--element-border-color-hover);
$element-background-color: var(--element-background-color);
$element-background-color-disabled: var(--element-background-color-disabled);
$element-field-background-color: var(--element-field-background-color);
$element-light-label-color: var(--element-light-label-color);


$scroll-thumb-color: var(--scroll-thumb-color);
$scroll-track-color: var(--scroll-track-color);
$icon-color: var(--icon-color);


$diagram-success: var(--diagram-success);
$diagram-warning: var(--diagram-warning);
$diagram-danger: var(--diagram-danger);
$diagram-secondary: var(--diagram-secondary);
$sidebar-label-color: var(--sidebar-label-color);
//** Themed colors **//

//! Base colors !//
$black: rgba(#000, 1) !default;
$black-60: rgba(#000, 0.6) !default;
$black-30: rgba(#000, 0.3) !default;
$black-10: rgba(#000, 0.1) !default;
$black-4: rgba(#000, 0.04) !default;
$white: #fff !default;
$white-60: rgba(#ffffff, 0.6) !default;
$white-30: rgba(#ffffff, 0.3) !default;
$white-10: rgba(#ffffff, 0.1) !default;
$white-4: rgba(#ffffff, 0.04) !default;
$gradient-blue: linear-gradient(180deg, #651fff, #ba9bff);
$static-text-color: #312C3A !default;
//! Base colors !//

$color-themes: () !default;
$color-themes: map.merge(
    (
        "basic": (
            "color": $gray,
            "color-dark": $gray-dark,
            "color-light": $light-gray,
            "text-color": $text-color,
        ),
        "primary": (
            "color": $primary,
            "color-dark": $primary-dark,
            "color-light": $primary-light,
            "text-color": $white,
        ),
        "secondary": (
            "color": $secondary,
            "color-dark": $secondary-dark,
            "color-light": $secondary-light,
            "text-color": $white,
        ),
        "success": (
            "color": $success,
            "color-dark": $success-dark,
            "color-light": $success-light,
            "text-color": $white,
        ),
        "danger": (
            "color": $danger,
            "color-dark": $danger-dark,
            "color-light": $danger-light,
            "text-color": $white,
        ),
        "error": (
            "color": $danger,
            "color-dark": $danger-dark,
            "color-light": $danger-light,
            "text-color": $white,
        ),
        "warning": (
            "color": $warning,
            "color-dark": $warning-dark,
            "color-light": $warning-light,
            "text-color": $text-color,
        ),
        "info": (
            "color": $info,
            "color-dark": $info-dark,
            "color-light": $info-light,
            "text-color": $text-color,
        ),
        "link": (
            "color-dark": $link-color,
            "color-light": $link-color-hover,
        ),
    ),
    $color-themes
);


$diagram-colors: () !default;
$diagram-colors: map.merge(
    (
        "success": (
            "color": $success,
            "color-themed": $diagram-success,
        ),
        "warning": (
            "color": $warning,
            "color-themed": $diagram-warning,
        ),
        "danger": (
            "color": $danger,
            "color-themed": $diagram-danger,
        ),
        "secondary": (
            "color": $secondary,
            "color-themed": $diagram-secondary,
        ),
    ),
    $diagram-colors
);
