$justifyValues: center, end, start, stretch, flex-start, flex-end, left, right, space-between, space-around, space-evenly;
$alignValues: center, end, start, stretch, flex-start, flex-end;
$directionValues: column-reverse column row-reverse row;
$colValues: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$colMaxValue: 12;
