$grey-light: #D9D9D9;
$grey-lighter: #F8F8F8;
$grey: #F8F9FA;
$grey-dark: #2D2D2D;
$grey-darker: #78848E;
$grey-disabled: #F1F1F1;

$additional: #0596FF;

$border-default: #CCCCCC;
$border-hover: #B0B0B0;
$border-action: #39BBD8;
$border-typing: #A7EFFF;
$back-disabled: #EBEBEB;
$back-success: #F1FFEC;
$border-success: #64D03E;
$back-error: #FCE7E7;
$border-error: #FF4557;
$back-info: #ECFCFF;
$back-warning: #FFFCEA;

$shadow-default: 0px 0px 30px rgba(0, 0, 0, 0.1);

$heading: #152536 !default;
