/*
*  Common font variables
*/

$font-family-nunito: "Nunito", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 32px;

$line-height-xs: 17px;
$line-height-sm: 20px;
$line-height-base: 22px;
$line-height-lg: 25px;
$line-height-xl: 34px;
$line-height-2xl: 45px;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;

// $title-templates: map-merge(
//     (
//         "h1": (
//             "color": $primary,
//             "color-dark": $primary-dark,
//             "color-light": $primary-light,
//             "text-color": $white,
//         ),
//         "h2": (
//             "color": $secondary,
//             "color-dark": $secondary-dark,
//             "color-light": $secondary-light,
//             "text-color": $white,
//         ),
//         "h3": (
//             "color": $success,
//             "color-dark": $success-dark,
//             "color-light": $success-light,
//             "text-color": $white,
//         ),
//         "h4": (
//             "color": $danger,
//             "color-dark": $danger-dark,
//             "color-light": $danger-light,
//             "text-color": $white,
//         ),
//         "h5": (
//             "color": $warning,
//             "color-dark": $warning-dark,
//             "color-light": $warning-light,
//             "text-color": $dark,
//         ),
//         "h6": (
//             "color": $info,
//             "color-dark": $info-dark,
//             "color-light": $info-light,
//             "text-color": $white,
//         ),
//         "subtitle": (
//             "color": $light,
//             "color-dark": $dark,
//             "color-light": $light,
//             "text-color": $dark,
//         ),
//     ),
//     $title-templates
// );
