/*
*  Common font variables
*/

$font-family-nunito: "Nunito", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 32px;

$line-height-xs: 17px;
$line-height-sm: 20px;
$line-height-base: 22px;
$line-height-lg: 25px;
$line-height-xl: 34px;
$line-height-2xl: 45px;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;


/* 
*   Button font variables
*/

$btn-font-weight-sm: 400;
$btn-font-weight-lg: 800;

$btn-font-xs: 12px;
$btn-font-sm: 14px;
$btn-font-base: 16px;

$btn-line-height: 24px;

$btn-letter-spacing: 0.1em;