@use "sass:map";
@use "colors";

/*
*  Common font variables
*/

$font-family-nunito: "Nunito", sans-serif;

$font-size-xs: 12px !default;
$font-size-sm: 14px !default;
$font-size-base: 16px !default;
$font-size-lg: 18px !default;
$font-size-xl: 24px !default;
$font-size-2xl: 32px !default;

$line-height-xs: 16px !default;
$line-height-sm: 18px !default;
$line-height-base: 22px !default;
$line-height-lg: 24px !default;
$line-height-xl: 32px !default;
$line-height-2xl: 44px !default;

$font-weight-sm: 400 !default;
$font-weight-md: 500 !default;
$font-weight-lg: 700 !default;

$title-types: () !default;
$title-types: map.merge(
    (
        "h1": (
            "font-size": $font-size-2xl,
            "font-weight": $font-weight-lg,
            "line-height": $line-height-2xl,
            "color": colors.$text-color,
        ),
        "h2": (
            "font-size": $font-size-xl,
            "font-weight": $font-weight-lg,
            "line-height": $line-height-xl,
            "color": colors.$text-color,
        ),
        "h3": (
            "font-size": $font-size-lg,
            "font-weight": $font-weight-lg,
            "line-height": $line-height-lg,
            "color": colors.$text-color,
        ),
        "h4": (
            "font-size": $font-size-base,
            "font-weight": $font-weight-lg,
            "line-height": $line-height-base,
            "color": colors.$text-color,
        ),
        "h5": (
            "font-size": $font-size-sm,
            "font-weight": $font-weight-md,
            "line-height": $line-height-sm,
            "color": colors.$text-color,
        ),
        "h6": (
            "font-size": $font-size-xs,
            "font-weight": $font-weight-md,
            "line-height": $line-height-xs,
            "color": colors.$text-color,
        ),
        "subtitle": (
            "font-size": $font-size-2xl,
            "font-weight": $font-weight-md,
            "line-height": $line-height-2xl,
            "color": colors.$text-color,
        ),
    ),
    $title-types
);

$text-types: () !default;
$text-types: map.merge(
    (
        "body": (
            "font-size": $font-size-base,
            "font-weight": $font-weight-sm,
            "line-height": $line-height-base,
            "color": colors.$text-color,
        ),
        "body2": (
            "font-size": $font-size-sm,
            "font-weight": $font-weight-sm,
            "line-height": $line-height-sm,
            "color": colors.$text-color,
        ),
        "span": (
            "font-size": $font-size-base,
            "font-weight": $font-weight-sm,
            "line-height": $line-height-base,
            "color": colors.$text-color,
        ),
        "boldSpan": (
            "font-size": $font-size-base,
            "font-weight": $font-weight-lg,
            "line-height": $line-height-base,
            "color": colors.$text-color,
        ),
    ),
    $text-types
);

$typography-colors: (
    "text-color": colors.$text-color,
    "primary": colors.$primary,
    "secondary": colors.$secondary,
    "success": colors.$success,
    "danger": colors.$danger,
    "warning": colors.$warning,
    "info": colors.$info,
) !default;
