@use "style/variables";

.AsideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: variables.$font-size-xl;
        font-weight: variables.$font-weight-lg;
        line-height: variables.$line-height-xl;
        color: variables.$text-color;
        margin-bottom: 0;
    }

    .ButtonView {
        width: auto;
        height: 34px;
        border: none;
        padding: 5px 12px;

        &__label {
            gap: 4px;
        }

        &__text {
            font-size: variables.$font-size-sm;
            font-weight: variables.$font-weight-sm;
            line-height: variables.$line-height-lg;
        }

        &__icon {
            margin: 0;
            svg path,
            rect,
            circle {
                stroke: #FFFFFF;
            }
        }
    }
}
