:root {
    --border-width-small: 1px;
    --border-width-medium: 2px;
    --border-width-large: 2px;
    --border-width: var(--border-width-large);

    --status-border-width-small: 1px;
    --status-border-width-medium: 2px;
    --status-border-width-large: 4px;
    --status-border-width: var(--status-border-width-large);

    --status-size-small: 8px;
    --status-size-medium: 12px;
    --status-size-large: 14px;
    --status-size: var(--status-size-x-large);

    --status-border-color: #FFFFFF;
}

html[data-theme="dark"] { 
    --status-border-color: #4E4F57;
}

$status-border-color: var(--status-border-color);

@mixin border($background) {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 53%;
        border-radius: 100%;
        border: var(--border-width) solid transparent;
        background: $background border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.AvatarView {
    $root: &;

    display: inline-block;
    position: relative;
    aspect-ratio: 1;

    &_has-custom-status {
        --status-size: 25%;
        --status-border-width: 2px;
    }

    &_size {

        &_large {
            #{$root}__body {
                height: 64px;
                width: 64px;
                line-height: 64px;
                font-size: $font-size-base;
            }
            --border-width: var(--border-width-large);
            --status-border-width: var(--status-border-width-large);
            --status-size: var(--status-size-large);
        }

        &_middle {
            #{$root}__body {
                height: 46px;
                width: 46px;
                line-height: 46px;
                font-size: $font-size-sm;
            }
            --border-width: var(--border-width-medium);
            --status-border-width: var(--status-border-width-medium);
            --status-size: var(--status-size-medium);
        }

        &_small {
            #{$root}__body {
                height: 28px;
                width: 28px;
                line-height: 28px;
                font-size: $font-size-xs;
            }
            --border-width: var(--border-width-small);
            --status-border-width: var(--status-border-width-small);
            --status-size: var(--status-size-small);
        }
    }

    &_shape {
        &_square {
            #{$root}__body {
                border-radius: unset;
            }
        }

        &_circle {
            #{$root}__body {
                border-radius: 50%;
            }
        }
    }

    &_has-image {
        #{$root}__body {
            background-color: unset;
        }
    }

    &_has-status {
        &::after {
            content: "";
            position: absolute;
            box-sizing: content-box;
            right: -6%;
            bottom: -6%;
            width: var(--status-size);
            height: var(--status-size);
            z-index: 10;

            color: $success;

            border-radius: $radius-circle;
            background-color: $success;

            border: var(--status-border-width) solid $status-border-color;
        }
    }

    &_has-border {
        @include border($gradient-blue);
    }

    &__body {
        display: inline-block;
        overflow: hidden;

        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        color: $white;
        background: $gradient-blue border-box;

        span {
            display: block;
            font-family: $font-family-nunito;
            font-weight: 800;
            letter-spacing: 0.1em;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
