
.AvatarView {
  $root: &;

  display: inline-block;
  position: relative;

  &_size {
    &_x-large {
      #{$root}__body {
        height: 64px;
        width: 64px;
        line-height: 64px;
        font-size: 20px;
      }
    }

    &_large {
      #{$root}__body {
        height: 46px;
        width: 46px;
        line-height: 46px;
        font-size: 16px;
      }
    }

    &_middle {
      #{$root}__body {
        height: 36px;
        width: 36px;
        line-height: 36px;
        font-size: 14px;
      }
    }

    &_small {
      #{$root}__body {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 14px;
      }
    }
  }

  &_shape {
    &_square {
      #{$root}__body{
        border-radius: unset;
      }
    }

    &_circle {
      #{$root}__body{
        border-radius: 50%;
      }
    }
  }

  &_has-image {
    #{$root}__body{
      background-color: unset;
    }
  }

  &_has-status {
    ::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25%;
      height: 25%;
      z-index: 10;

      color: #64D03E;
      font-size: 6px;

      border-radius: 50%;
      background-color: #64D03E;
      border: 2px solid #fff;
    }
  }

  &__body {
    display: inline-block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    color: #fff;
    background-color: #651fff;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
