@use "../../scss/variables";

:root {
  --text-color: #312c3a;
}

html[data-theme="dark"] {
  --text-color: #fff;
}

$text-color: var(--text-color);

.StepItemView{
  $root: &;

  position: relative;
  align-items: center;

  &_horizontal {
    display: flex;
    flex: 2;

    &:last-child{
      flex: 1;

      #{$root}__divider {
        display: none;
      }
    }

    #{$root}__body {
      flex-flow: row nowrap;
      align-items: center;
      padding: 0 4px;
    }

    #{$root}__step {
      padding-right: 4px;
      flex-grow: 1;
    }

    #{$root}__header {
      margin-bottom: 0;
    }

    #{$root}__divider {
      flex: 1 1 auto;
    }
  }

  &_vertical {
    flex: 1;

    &:first-child{
      #{$root}__divider-line {
        display: none;
      }
    }

    #{$root}__body {
      flex-direction: column;
      align-items: center;
    }

    #{$root}__step {
      margin-bottom: 4px;
    }

    #{$root}__header {
      margin-bottom: 8px;
    }

    #{$root}__divider {
      position: absolute;
      top: 12px;
      left: calc(-50% + 20px);
      right: calc(50% + 20px);
    }
  }

  &_wait {
    #{$root}__icon {
      background-color: var(--gray);

      svg {
        fill: variables.$white;
      }
    }
  }

  &_active {
    #{$root}__icon {
      background-color: variables.$primary;

      svg {
        fill: #fff;
      }
    }
  }

  &_edit {
    #{$root}__icon {
      background-color: variables.$secondary;

      svg {
        fill: #fff;
      }
    }
  }

  &_finish {
    #{$root}__icon {
      background-color: variables.$success;
    }
  }

  &_error {
    #{$root}__icon {
      background-color: variables.$danger;

      svg {
        fill: #fff;
      }
    }
  }

  &__body {
    display: flex;

    &_disabled {
      cursor: default;
    }
  }

  &__step {
    display: flex;
    flex-shrink: 0;
  }

  &__icon {
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 24px;
    height: 24px;
  }

  &__content {
    text-align: center;
    width: 100%;
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  &__icon {
    color: variables.$white;
    font-size: 12px;
    font-weight: 500;
    transition: background-color .15s ease-in, color .15s ease-in;
  }

  &__divider-line {
    display: block;
    border-top-color: var(--gray);
    border-top-style: solid;
    border-top-width: 1px;
    transition: border-top-color .15s ease-in;
  }
}
