:root {
    --security-bar-background: #EEF1F2;
    html[data-theme="dark"] {
        --security-bar-background: #5B5C6B;
    }
}

$security-bar-background: var(--security-bar-background);

.PasswordFieldView {
    $root: &;

    &__container {
        width: 200px;
        height: 34px;
    }

    &__input {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 1px solid $border-color;
        outline: none;
        padding-left: 8px;
        padding-right: 42px;
    }

    &_size {
        &_lg {
            #{$root}__container {
                height: 56px;
            }

            #{$root}__input {
                border-radius: $radius-large;
            }
        }

        &_md {
            #{$root}__container {
                height: 46px;
            }

            #{$root}__input {
                border-radius: $radius-large;
            }
        }

        &_sm {
            #{$root}__container {
                height: 34px;
            }

            #{$root}__input {
                border-radius: $radius-small;
            }
        }
    }

    &__security-bar {
        width: 100%;
        height: 4px;
        border-radius: 4px;


    }
}
