:root {
    --security-bar-background: #eef1f2;
    --eye-default-color: #eef1f2;
    --eye-filled-color: #323232;
}

html[data-theme="dark"] {
    --security-bar-background: #5b5c6b;
    --eye-default-color: #5b5c6b;
    --eye-filled-color: #ffffff;
}

$security-bar-background: var(--security-bar-background);
$eye-default-color: var(--eye-default-color);
$eye-filled-color: var(--eye-filled-color);

.PasswordFieldView {
    $root: &;

    position: relative;
    width: 200px;

    line-height: 24px;
    font-weight: $font-weight-sm;

    &__container {
        position: relative;
        width: 200px;
        height: 34px;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            border-radius: 16px;

            border: 4px solid $primary-light;
            transition: opacity 150ms ease-in-out;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-2%) translateY(-7.5%);
        }

        &:focus-within:not(&_disabled):not(:active)::before {
            opacity: 1;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        border-radius: $radius-small;
        border: 1px solid $border-color;
        outline: none;
        padding-left: 8px;
        padding-right: 42px;

        background-color: $element-background-color;
        color: $text-color;

        &::placeholder {
            color: $placeholder-color;
        }

        &:hover {
            border: 1px solid $border-color-hover;
        }

        &:not(:disabled):active {
            border: 1px solid $primary;
        }

        &:not(:disabled):focus { 
            border-color: transparent;
        }

        &:disabled {
            border: none;
            background-color: $background-disabled-color;
        }
    }

    &_size {
        &_lg {
            #{$root}__container {
                height: 56px;

                &::before {
                    border-radius: 16px;
                    transform: translateX(-2%) translateY(-6.5%)
                }
            }

            #{$root}__input {
                border-radius: $radius-large;
                font-size: $font-size-lg;
            }

        }

        &_md {
            #{$root}__container {
                height: 46px;

                &::before {
                    border-radius: 16px;
                }
            }

            #{$root}__input {
                border-radius: $radius-large;
                font-size: $font-size-base;
            }

        }

        &_sm {
            #{$root}__container {
                height: $input-height-sm;

                &::before {
                    border-radius: 12px;
                    transform: translateX(-2%) translateY(-9.5%);
                }
            }

            #{$root}__input {
                border-radius: $radius-small;
                font-size: $font-size-sm;
            }

        }
    }

    &__security-bar {
        position: relative;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        margin-top: 8px;

        background-color: $security-bar-background;

        &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 4px;
            border-radius: 4px;
            transition: width 1s ease-in-out;
        }

        &_danger::before {
            width: 33%;
            background-color: $danger;
        }

        &_warning::before {
            width: 66%;
            background-color: $warning;
        }

        &_success::before {
            width: 100%;
            background-color: $success;
        }
    }

    &__icon-eye {
        outline: none;
        border: none;

        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon-eye {
        width: 24px;
        height: 24px;

        svg {
            path {
                fill: $eye-default-color;

                &:last-child {
                    stroke: $eye-default-color;
                }
            }
        }

        &:active {
            svg {
                path {
                    fill: inherit;
                    stroke: $eye-default-color;
                }
                circle {
                    stroke: $eye-default-color;
                }
            }
        }
    }

    &_filled {
        #{$root}__icon-eye {
            svg {
                path {
                    fill: $eye-filled-color;

                    &:last-child {
                        stroke: $eye-filled-color;
                    }
                }
            }

            &:active {
                svg {
                    path {
                        fill: inherit;
                        stroke: $eye-filled-color;
                    }
                    circle {
                        stroke: $eye-filled-color;
                    }
                }
            }
        }
    }

    &_disabled {
        #{$root}__icon-eye,
        #{$root}__security-bar {
            opacity: 0;

            &::before {
                opacity: 0;
            }
        }
    }
}
