.DropDownFieldView {
  position: relative;
  font-size: 1rem;

  &_size_sm {
    font-size: 0.7875rem;
  }
  &_size_lg {
    font-size: 1.25rem;
  }

  &__selected-items {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    min-width: 100px;
    min-height: 38px;
    background-color: $input-bg;
    background-clip: padding-box;
    border: 1px solid $input-border-color;
    border-radius: 0.25rem;
    line-height: 1.5;
    color: $input-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-flow: row wrap;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    &_reset {
      padding-right: 3rem;
    }

    &_is-invalid {
      border-color: $danger;
    }
  }
  &_size_sm &__selected-items {
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    height: 31px;
  }
  &_size_lg &__selected-items {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    height: 48px;
  }

  &__selected-item-multiple{
    cursor: default;
    margin-right: 5px;
    padding: 0 4px 0 8px;

    display: flex;

    border-radius: 2px;
    background: #f5f5f5;
  }
  &__selected-item-multiple-remove{
    cursor: pointer;
    margin-left: 6px;

    display: flex;
    align-items: center;

    svg{
      width: 10px;
      opacity: .5;
      transition: opacity .1s ease-in;
    }

    &:hover{
      svg{
        opacity: 1;
      }
    }
  }

  &__reset {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 100%;
    cursor: pointer;

    &::before,
    &::after
    {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 50%;
      width: 1px;
      height: 10px;
      background-color: $text-muted;
      content: '';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__drop-down {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    padding: 0.375rem 0;
    width: 100%;
    z-index: $zindex-dropdown;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $dropdown-border-width solid $dropdown-border-width;
    border-radius: $dropdown-border-radius;
    box-shadow: $dropdown-box-shadow;
    line-height: 1.5;
    color: $dropdown-color;
  }

  &__drop-down-list {
    max-height: 273px;
    overflow: auto;
  }

  &__search {
    padding: 0.25rem 0.5rem;

    > .form-control {
      width: 100%;
    }
  }
  &_size_sm &__search {
    padding: 0.1rem 0.2rem;
  }

  &__drop-down-item {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    transition: background-color .2s ease;
    background-color: transparent;

    &_hover {
      background-color: $dropdown-divider-bg;
    }

    &_select {
      background-color: $dropdown-link-active-bg;
      color: $dropdown-link-active-color;
    }
  }
  &_size_sm &__drop-down-item {
    padding: 0.25rem 0.5rem;
  }
  &_size_lg &__drop-down-item {
    padding: 0.5rem 1rem;
  }
  &__placeholder {
    color: $input-placeholder-color;
  }
}
