.TreeView {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 0;
    cursor: pointer;

    > .ButtonView {
      margin: 2px 0;
    }
  }

  &__item-label {
    position: relative;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    color: $text-color;
    background-color: $background-color;

    // &:hover {
    //   color: $list-group-action-hover-color;
    //   background-color: $list-group-hover-bg;
    // }

    &, &:hover {
      text-decoration: none !important;
    }
  }
  &__item_selected &__item-label {
    background-color: $secondary;
    &, &::before {
      color: $text-color;
    }
  }
  &__item-label::before {
    display: inline-block;
    content: '';
    transform: rotate(0);
    width: 21px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    color: $text-color;
    position: relative;
    top: 3px;
    left: 3px;
  }
  &__item_has-items &__item-label::before {
    content: '>';
  }

  &__item_opened &__item-label::before {
    top: 9px;
    left: -4px;
    transform: rotate(90deg);
  }
}
