@use "../variables/index" as variables;

:root {
    --tooltip-background-color: rgba(255, 255, 255, 0.4);
}

html[data-theme="dark"] {
    --tooltip-background-color: rgba(255, 255, 255, 0.4);
}
$tooltip-background-color: var(--tooltip-background-color);

@mixin calendar-tooltip() {
    background-color: $tooltip-background-color;
    border-radius: 4px;

    .TooltipView__arrow {
        display: none;
    }

    .TooltipView__content {
        color: variables.$text-color;
    }
}
