@use "../../scss/variables" as vars;

:root {
    --drop-down-item-hover-background-color: #f5f8fa;
    --drop-down-item-select-background-color: #eef1f2;
}

html[data-theme="dark"] {
    --drop-down-item-select-background-color: #5b5c6b;
    --drop-down-item-hover-background-color: #4e4f57;
}

$drop-down-item-select-background-color: var(--drop-down-item-select-background-color);
$drop-down-item-hover-background-color: var(--drop-down-item-hover-background-color);

@mixin statements {
    &_select {
        background-color: $drop-down-item-select-background-color;
    }
    &_hover {
        background-color: $drop-down-item-hover-background-color;
    }
}

%fontProperties {
    font-size: vars.$font-size-base;
    font-weight: 400;
    line-height: 22px;
}

.DropDownItemView {
    $root: &;

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__option {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        column-gap: 12px;
        align-items: center;
        background-color: vars.$element-background-color;
        color: vars.$text-color;

        &_size {
            &_lg {
                padding: 16px;
            }

            &_md {
                padding: 12px;
            }

            &_sm {
                padding: 8px;
            }
        }

        @include statements;
    }

    &__checkbox {
        width: 100%;
        height: 24px;
        pointer-events: none;

        label {
            width: 100%;
        }
    }

    &__img {
        width: 24px;
        height: 24px;
        border-radius:vars.$radius-small;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__radio {
        pointer-events: none;
        width: 100%;

        div {
            width: 100%;
        }

        label {
            width: 100%;
        }

        label::before {
            position: absolute;
            right: 0;
            margin-right: 0;
        }

        label::after {
            position: absolute;
            right: 0;
        }

        .RadioFieldView__label .RadioFieldView__ellipse {
            left: auto;
        }

        &_size {
            &_lg {
                span {
                    right: 0;
                    transform: translateX(-115%) translateY(-50%);
                }
            }

            &_md {
                span {
                    right: 0;
                    transform: translateX(-130%) translateY(-50%);
                }
            }

            &_sm {
                span {
                    right: 0;
                    transform: translateX(-150%) translateY(-50%);
                }
            }
        }
    }

    &__group {
        width: auto;
        border-radius: none;

        .AccordionItemView {
            &__content {
                padding: 0;
                border: none;

                &_visible {
                    border-bottom: 1px solid vars.$element-border-color;
                }
            }

            &__header-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                border: none;
                background-color:vars.$element-background-color;

                &:hover {
                    background-color: $drop-down-item-hover-background-color;
                }
            }

            &__title-container {
                padding: inherit;
            }

            &__icon-wrapper {
                position: static;
                margin-right: 12px;
            }

            &__icon-chevron {
                box-shadow: none;
                svg {
                    border: 1px solid vars.$element-border-color;
                    border-radius: vars.$radius-small;
                }
            }
        }

        &_size {
            &_lg {
                font-size: vars.$font-size-lg;
                line-height: 24px;

                .AccordionItemView__title-container {
                    font-size: inherit;
                    line-height: inherit;
                    padding: 16px;
                }
            }

            &_md {
                font-size: vars.$font-size-base;
                line-height: 22px;

                .AccordionItemView__title-container {
                    font-size: inherit;
                    line-height: inherit;
                    padding: 12px;
                }
            }

            &_sm {
                font-size: vars.$font-size-sm;
                line-height: 18px;

                .AccordionItemView__title-container {
                    font-size: inherit;
                    line-height: inherit;
                    padding: 8px;
                }
            }
        }
    }
}
