@import "style/variables";

:root {
    --grid-icon-color: #323232;
}

html[data-theme="dark"] {
    --grid-icon-color: #ffffff;
}

$grid-icon-color: var(--grid-icon-color);

.IconColumnView {
    $root: &;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .IconView {
        display: inline-block;
        width: 24px;
        height: 24px;

        svg {
            width: 100%;
            height: 100%;
        }

        path {
            stroke: $grid-icon-color;
        }

        circle {
            stroke: $grid-icon-color;
        }

        pointer-events: none;
    }

    &_hasText {
        .IconView {
            margin-left: 8px;
        }

        &_isLeft {
            .IconView { 
                margin-left: 0;
                margin-right: 8px;
                order: 1;
            }

            #{$root}__value { 
                order: 2;
            }
        }
    }
}
