@use "../../scss/variables" as vars;


$justifyValues: center, end, start, stretch, flex-start, flex-end, left, right, space-between, space-around, space-evenly;
$alignValues: center, end, start, stretch, flex-start, flex-end;
$directionValues: column-reverse column row-reverse row;
$colValues: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$colMaxValue: 12;

@mixin col($className, $root, $property: flex-basis) {
  @each $colValue in $colValues {
    &_#{$className}_#{$colValue} {
      #{$property}: calc((100% / $colMaxValue) * $colValue);
    }
  }
}

.FlexGridView {
  $root: &;

  display: flex;
  flex-wrap: nowrap;

  &_wrap {
    flex-wrap: wrap;
  }

  @each $alignValue in $alignValues {
    &_align_#{$alignValue} {
        align-items: $alignValue;
    }
  }

  @each $justifyValue in $justifyValues {
    &_justify_#{$justifyValue} {
        justify-content: $justifyValue;
    }
  }

  @each $directionValue in $directionValues {
    &_direction_#{$directionValue} {
        flex-direction: $directionValue;
    }
  }

  &__item {
    @include col(col, $root);
    @include col(offset, $root, margin-inline-start);

    @media (max-width: vars.$desktop-width) {
      @include col(lg, $root);
    }
    @media (max-width: vars.$tablet-width) {
      @include col(md, $root);
    }
    @media (max-width: vars.$mobile-width) {
      @include col(sm, $root);
    }
  }
}