@use "../../scss/variables";

@mixin col($className, $root, $property: flex-basis) {
  @each $colValue in variables.$colValues {
    &_#{$className}_#{$colValue} {
      #{$property}: calc((100% / variables.$colMaxValue) * $colValue);
    }
  }
}

.FlexGridView {
  $root: &;

  display: flex;
  flex-wrap: nowrap;

  &_wrap {
    flex-wrap: wrap;
  }

  @each $alignValue in variables.$alignValues {
    &_align_#{$alignValue} {
        align-items: $alignValue;
    }
  }

  @each $justifyValue in variables.$justifyValues {
    &_justify_#{$justifyValue} {
        justify-content: $justifyValue;
    }
  }

  @each $directionValue in variables.$directionValues {
    &_direction_#{$directionValue} {
        flex-direction: $directionValue;
    }
  }

  &__item {
    @include col(col, $root);
    @include col(offset, $root, margin-inline-start);

    @media (max-width: variables.$desktop-width) {
      @include col(lg, $root);
    }
    @media (max-width: variables.$tablet-width) {
      @include col(md, $root);
    }
    @media (max-width: variables.$mobile-width) {
      @include col(sm, $root);
    }
  }
}
