@use "../../scss/variables" as vars;
@use '../../scss/mixins';

:root {
    --date-range-separator-color: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
    --date-range-separator-color: rgba(255, 255, 255, 0.1);
}

$date-range-separator-color: var(--date-range-separator-color);


.DateRangeFieldView {
    $root: &;

    @include mixins.date-range-body($root);
    @include mixins.icon-container($root);
    @include mixins.date-range-input();

    @include mixins.date-range-sizes($root);

    &__split {
        background: vars.$element-background-color;
        @include mixins.calendar-border();

        .DayPicker-Months {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            column-gap: 47px;

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                width: 1px;
                background-color: $date-range-separator-color;
            }
        }
    }

    @include mixins.date-range-effects($root);

}
