.RadioListFieldView {
    display: flex;

    &_vertical {
        flex-flow: column wrap;
        row-gap: 8px;
    }

    &_horizontal {
        flex-flow: row nowrap;
        column-gap: 8px;
    }
}
