.TreeView {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 2px 0;
    cursor: pointer;
  }

  &__item-label {
    position: relative;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    color: $list-group-action-color;
    background-color: $list-group-bg;

    &:hover {
      color: $list-group-action-hover-color;
      background-color: $list-group-hover-bg;
    }

    &, &:hover {
      text-decoration: none !important;
    }
  }
  &__item_selected &__item-label {
    background-color: $list-group-active-bg;
    &, &::before {
      color: $list-group-active-color;
    }
  }
  &__item-label::before {
    display: inline-block;
    content: '';
    transform: rotate(0);
    width: 21px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: $font-family-monospace;
    margin-left: 10px;
    color: $list-group-action-color;
    position: relative;
    top: 3px;
    left: 3px;
  }
  &__item_has-items &__item-label::before {
    content: '>';
  }

  &__item_opened &__item-label::before {
    top: 9px;
    left: -4px;
    transform: rotate(90deg);
  }
}
