@use "../../scss/variables" as vars;

.NavIconView {
    &__list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 24px;

        &-item {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            color: vars.$text-color;
            column-gap: 8px;

            .ButtonView__text {
                color: vars.$text-color;
            }

            &_disabled .ButtonView_disabled .ButtonView__link:hover .ButtonView__text {
               color: vars.$element-placeholder-color-disabled;
            }

            &_disabled .ButtonView_disabled .ButtonView__link .ButtonView__text { 
                color: vars.$element-placeholder-color-disabled;
            }

            &-nested { 
                display: flex;
                flex-flow: column nowrap;
                margin-left: 54px;
            }
        }
    }
}
