.NavLinkView {
    &__list {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 24px;

        &-item {
            &_disabled {
                cursor: not-allowed;
                .ButtonView {
                    pointer-events: none;
                }
            }
        }
    }
}
