.NavListView {
    
    &__list{ 
        display: flex;
        flex-flow: column nowrap;
    }

    &__sub-list { 
        display: flex;
        flex-flow: column;
        padding: 5px;
    }    
}
