@use "../../scss/variables";
@use '../../scss/mixins';

.NavTabsView {
    $root: &;

    color: variables.$text-color;

    &__list {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;

        border-bottom: 1px solid variables.$element-border-color;

        &-item {
            .ButtonView__text {
                color: variables.$element-placeholder-color;
            }

            &_active {
                .ButtonView__text {
                    color: variables.$white;
                }

                .ButtonView {
                    &_size {
                        &_sm {
                            border-radius: variables.$radius-small variables.$radius-small 0 0;
                        }
                        &_md {
                            border-radius: variables.$radius-large variables.$radius-large 0 0;
                        }
                        &_lg {
                            border-radius: variables.$radius-large variables.$radius-large 0 0;
                        }
                    }
                }
            }

            &_disabled {
                cursor: not-allowed;
                .ButtonView {
                    pointer-events: none;
                }
            }
        }
    }

    @include mixins.navs-sizes($root);
}
