.InputFieldView {
  $root: &;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 0;
  border: $input-border;
  border-radius: $input-border-radius;

  &_size {
    &_small {
      height: $input-height-sm;
    }
    &_medium {
      height: $input-height-md;
    }
    &_large {
      height: $input-height-lg;
    }
  }

  &:focus-within{
    outline: 0;
    border-color: $border-action;
    box-shadow: 0 0 0 3px $border-typing, 0 0 0 3px $border-typing;
  }

  &.is-invalid:focus-within{
    border-color: $border-action;
    box-shadow: 0 0 0 3px $border-typing, 0 0 0 3px $border-typing;
  }

  &_disabled {
    color: rgba(0, 0, 0, .25);
    background-color: $back-disabled;
    cursor: not-allowed;

    input {
      cursor: inherit;
    }

    &#{$root}_input {
      background-color: $back-disabled;
    }
  }

  &_caption {

  }

  &_failed {
    background: $back-error;
    &::after {
      content: 'Error message';
      color: $border-error;
    }
  }

  &_success {
    background: $back-success;
    &::after {
      content: 'Success message';
      color: $border-success;
    }
  }

  &__input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: $white;
    overflow: hidden;
    color: $border-default;
    padding: $input-padding-y $input-padding-x;
    border-radius: $input-border-radius;

    &_disabled {
      color: rgba(0, 0, 0, .25);
      background: $back-disabled;
      cursor: not-allowed;

      input {
        cursor: inherit;
      }
    }

    &_failed {
      box-sizing: border-box;
    }

    &:active {
      color: $heading;
    }
    &:focus {
      color: $heading;
    }
  }

  &__addon-before, &__addon-after {
    display: flex;
    align-items: center;
    padding: 0 $input-addon-padding;

    color: rgba(0, 0, 0, .85);
    text-align: center;
    background-color: $back-disabled;
  }

  &__addon-before {
    border-radius: $input-border-radius 0 0 $input-border-radius;
    border-right: 1px solid $input-border-color;
  }

  &__addon-after {
    border-radius: 0 $input-border-radius $input-border-radius 0;
    border-left: 1px solid $input-border-color;
  }


  &__text-before, &__text-after {
    display: flex;
    align-items: center;
  }

  &__text-before {
    padding-left: $input-text-padding;
  }

  &__text-after {
    padding-right: $input-text-padding;
  }

}
