:root {
    --lead-icon-default-color: #e5e9eb;
    --lead-icon-focus-color: #323232;
    --lead-icon-disabled-color: rgba(0, 0, 0, 0.1);

    html[data-theme="dark"] {
        --lead-icon-default-color: #5b5c6b;
        --lead-icon-focus-color: #ffffff;
        --lead-icon-disabled-color: rgba(255, 255, 255, 0.1);
    }
}

$lead-icon-default-color: var(--lead-icon-default-color);
$lead-icon-focus-color: var(--lead-icon-focus-color);
$lead-icon-disabled-color: var(--lead-icon-disabled-color);

.InputFieldView {
    $root: &;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    width: fit-content;
    height: 34px;

    font-family: $font-family-nunito;
    line-height: 24px;
    color: $text-color;

    &_hasError {
        #{$root}__input {
            border: 1px solid $danger;
        }
    }

    &_successful {
        #{$root}__input {
            border: 1px solid $success;
        }
    }

    &::before {
        position: absolute;
        content: "";
        width: 101.6666666667%;
        height: 111.7647058824%;
        top: 0;
        left: 0;

        border-radius: $radius-small;

        border: 4px solid $primary-light;
        transition: opacity 150ms ease-in-out;
        opacity: 0;
        pointer-events: none;
        transform: translate(-0.8333333334%, -5.8823529412%);
    }

    &__input {
        width: 240px;
        height: 100%;
        border-radius: $radius-small;

        border: 1px solid $border-color;

        padding-right: 8px;
        padding-left: 8px;

        &:focus {
            outline: none;
            border: transparent;
        }

        &:active:not(:disabled) {
            border: 1px solid $primary;
        }

        &::placeholder {
            color: $placeholder-color;
        }

        &:disabled {
            background-color: $background-disabled-color;
            border: none;
        }
    }

    &:hover &__input:not(:disabled):not(:focus) {
        border: 1px solid $border-color-hover;
    }

    &:focus-within:not(:active)::before {
        opacity: 1;
    }

    &_size {
        &_lg {
            height: 56px;

            #{$root}__input {
                border-radius: $radius-large;
            }

            &::before {
                border-radius: $radius-large;
            }

            #{$root}__addon-before,
            #{$root}__addon-after {
                padding: 16px;
            }

            #{$root}__addon-before {
                border-radius: $radius-large 0 0 $radius-large;
            }
            #{$root}__addon-after {
                border-radius: 0 $radius-large $radius-large 0;
            }

            font-size: $font-size-lg;
        }

        &_md {
            height: 46px;

            #{$root}__input {
                border-radius: $radius-large;
            }

            &::before {
                border-radius: $radius-large;
            }

            #{$root}__addon-before,
            #{$root}__addon-after {
                padding: 11px 12px;
            }

            #{$root}__addon-before {
                border-radius: $radius-large 0 0 $radius-large;
            }
            #{$root}__addon-after {
                border-radius: 0 $radius-large $radius-large 0;
            }

            font-size: $font-size-base;
        }

        &_sm {
            height: 34px;

            #{$root}__input {
                border-radius: $radius-small;
            }

            &::before {
                border-radius: $radius-small;
            }

            #{$root}__addon-before,
            #{$root}__addon-after {
                padding: 5px 8px;
            }

            #{$root}__addon-before {
                border-radius: $radius-small 0 0 $radius-small;
            }
            #{$root}__addon-after {
                border-radius: 0 $radius-small $radius-small 0;
            }

            font-size: $font-size-sm;
        }
    }

    &__icon-clear {
        position: absolute;
        right: 8px;

        opacity: 0;
        transition: opacity 150ms ease-in-out;
        pointer-events: none;
    }

    &__lead-icon {
        position: absolute;
        left: 8px;

        svg circle,
        path {
            transition: stroke 150ms ease-in-out;
            stroke: $lead-icon-default-color;
        }
    }

    &_hasLeadIcon {
        #{$root}__input {
            padding-left: 40px;
        }
    }

    &_hasClearIcon {
        #{$root}__input {
            padding-right: 40px;
        }
    }

    &_filled {
        #{$root}__icon-clear {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
        }

        #{$root}__lead-icon {
            svg circle,
            path {
                stroke: $lead-icon-focus-color;
            }
        }
    }

    &_disabled {
        #{$root}__lead-icon {
            svg circle,
            path {
                stroke: $lead-icon-disabled-color;
            }
        }
    }

    &__addon-before,
    &__addon-after {
        background-color: $background-disabled-color;
        height: 100%;
    }

    &_hasAddonAfter {
        #{$root}__input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &_hasAddonBefore {
        #{$root}__input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
