.CheckboxFieldView {
  display: inline-block;

  &__label {
    &-text {
      &_required:after {
        display: inline-block;
        content: '*';
        color: $danger;
        margin: 0 0 0 3px;
      }
    }
  }
  .custom-control-label {
    &::before, &::after {
      top: 0;
    }
  }

  .custom-control-input {
    &:checked ~ .custom-control-label {
      &::before {
        border-color: $primary;
        background: $primary;
      }
      &:hover {
        &::before {
          background: $primary-dark;
        }
      }
      &:active {
        &::before {
          background: $primary-light;
        }
      }
    }
    &:disabled ~ .custom-control-label {
      color: $border-default;

      &::before {
        border: unset;
        background-color: $back-disabled;
      }
    }
  }
}
