.CardView {
    $root: &;

    background: $white;
    box-sizing: border-box;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &_orientation {
        &_vertical {
            font-size: $card-font-size;
        }

        &_vertical-reverse {
            font-size: $card-font-size;
            flex-direction: column-reverse;
        }

        &_horizontal {
            flex-direction: row;

            #{$root}__title{
                font-size: $card-horizontal-header-font-size;
            }

            #{$root}__content{
                flex-basis: 50%;
                font-size: $card-horizontal-font-size;
            }

            #{$root}__cover{
                flex-basis: 50%;
            }
        }
    }
    
    &_border {
        &_default {
            border: 1px solid $border-default;
        }

        &_light {
            #{$root}__content {
                color: $dark;
            }
        }
    }

    &_shape {
        &_square {
            border-radius: unset;
        }

        &_circle {
            border-radius: $card-border-radius;
        }
    }

    &__content-inner {
        display: grid;
        grid-row-gap: 16px;
    }

    &__children {
        font-size: $card-children-font-size;
        line-height: $card-children-line-height;
        box-sizing: border-box;
        width: 100%;
        word-break: break-all;
    }

    &__header {
        background: $card-header-background;
        padding: 20px;
        border-bottom: 1px solid $border-default;
        font-weight: bold;
        font-size: $card-header-font-size;
        line-height: $card-header-line-height;
        word-break: break-all;
    }

    &__footer {
        background: $card-header-background;
        padding: 20px;
        border-top: 1px solid $border-default;
        font-weight: bold;
        font-size: $card-header-font-size;
        line-height: $card-header-line-height;
        word-break: break-all;
    }

    &__cover {
        overflow: hidden;
    }

    &__title{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: $card-title-font-size;
        line-height: $card-title-line-height;
        border-bottom: 8px;
        margin-bottom: 8px;
    }

    &__content{
        padding: 20px;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        position: static;
        width: 140px;
        height: 28px;
        border: none;
        color: $white;
        background: $primary;
        border-radius: $card-button-border-radius;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    a {
        color: $primary;
        font-size: $card-link-font-size;
    }
    p{
        margin: 0;
    }
}
