@use "../../scss/variables";

:root {
    --card-footer-background-color: var(--additional-light-blue);
    --card-dots-color: #323232;
}

html[data-theme="dark"] {
    --card-footer-background-color: var(--gray-dark);
    --card-dots-color: #ffffff;
}

$card-footer-background-color: var(--card-footer-background-color);
$card-dots-color: var(--card-dots-color);

%headTemplate {
    font-weight: 700;
    font-size: variables.$font-size-lg;
    line-height: 24px;
}

%subheadTemplate {
    font-weight: 400;
    font-size: variables.$font-size-xs;
    line-height: 16px;
}

%dotTemplate {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: $card-dots-color;
    border-radius: variables.$radius-circle;
}

.CardView {
    $root: &;

    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: fit-content;

    border: 1px solid variables.$element-border-color;
    border-radius: variables.$radius-large;
    color: variables.$text-color;
    background-color: variables.$element-background-color;

    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding: 18px;
        padding-bottom: 20px;

        &_withoutCover {
            padding-bottom: 3px;
        }

        &-data {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            column-gap: 8px;
        }

        &-avatar {
            margin-right: 2px;
        }

        &-text-content {
            display: flex;
            flex-flow: column nowrap;
        }

        &-head {
            @extend %headTemplate;
        }

        &-subhead {
            @extend %subheadTemplate;
        }

        &-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .MenuView__icon {
                width: 24px;
                height: 24px;

                display: flex;
                justify-content: center;
                align-items: center;

                rect {
                    fill: $card-dots-color;
                }

                svg {
                    transform: translateX(5px);
                }
            }
        }
    }

    &__cover {
        width: 100%;
        height: 227px;
        overflow: hidden;
        border-radius: variables.$radius-large;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 16px;
    }

    &__content-inner {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 16px;
    }

    &__title {
        @extend %headTemplate;
        margin-bottom: 8px;
    }

    &__description {
        font-size: variables.$font-size-base;
        line-height: 22px;
    }

    &__buttons {
        display: flex;
        flex-flow: row wrap;
        $columnGap: 8px;
        row-gap: 8px;
        column-gap: $columnGap;

        button:only-of-type {
            width: 100%;
        }

        button:not(:only-of-type) {
            width: calc(50% - $columnGap / 2);
        }
    }

    &__links {
        display: flex;
        flex-flow: row wrap;
        column-gap: 16px;

        a {
            line-height: 18px;
        }
    }

    &__footer {
        display: flex;
        flex-flow: column wrap;

        padding: 16px;
        background-color: $card-footer-background-color;

        &-head {
            @extend %headTemplate;
        }

        &-subhead {
            @extend %subheadTemplate;
        }
    }
}
