:root {
    --alert-text-color: #152536;
}

html[data-theme="dark"] {
    --alert-text-color: #152536;
}

$alert-text-color: var(--alert-text-color);

$alert-themes: () !default;
$alert-themes: map-merge(
    (
        "success": (
            "background-color": $success-light,
            "icon-color": $success,
        ),
        "info": (
            "background-color": $info-light,
            "icon-color": $info,
        ),
        "warning": (
            "background-color": $warning-light,
            "icon-color": $warning,
        ),
        "error": (
            "background-color": $danger-light,
            "icon-color": $danger,
        ),
        "default": (
            "background-color": $light-gray,
            "icon-color": $gray-dark,
        ),
    ),
    $alert-themes
);

.AlertView {
    $root: &;

    position: relative;
    padding: 16px;
    border-radius: $radius-large;
    font-family: $font-family-nunito;

    &_close-animation {
        animation: hide_slide 0.4s ease-in;
    }

    @keyframes hide_slide {
        0% {
            transform: translateX(-10px);
        }
        40% {
            transform: translateX(0%);
        }
        80% {
            transform: translateX(-10%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;

        svg {
            width: 24px;
        }
    }

    &__icon-close {
        display: inline-block;
        width: 24px;
        height: 24px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__text-block {
        display: grid;
        row-gap: 12px;
        max-width: 444px;
        margin-right: auto;
        color: $alert-text-color;
    }

    @each $color, $alert-properties in $alert-themes {
        &_#{$color} {
            background-color: map-get($alert-properties, background-color);

            #{$root}__icon_#{$color} { 
                g > circle:not([fill="white"]), rect { 
                    fill: map-get($alert-properties, icon-color);
                }
            }
        }
    }

    &__message {
        font-size: $font-size-lg;
    }

    &__wrapper {
        width: 508px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__description {
        font-size: $font-size-base;
    }
}
