@use "../../scss/variables";
@use '../../scss/mixins';

:root {
  --gradient-color-primary-first: #651FFF;
  --gradient-color-primary-second: #BA9BFF;
}

html[data-theme="dark"] { 
  --gradient-color-primary-first: #9362FF;
  --gradient-color-primary-second: #B898FF;
}

$gradient-color-primary-first: var(--gradient-color-primary-first);
$gradient-color-primary-second: var(--gradient-color-primary-second);

.LoaderView {
  $root: &;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &_size {
    &_sm {
      svg {
        height: 33px;
        width: 33px;
        path {
          stroke-width: 4px;
        }
      }
    }
    &_md {
      svg {
        height: 44px;
        width: 44px;
        path {
          stroke-width: 6px;
        }
      }
    }
    &_lg {
      svg {
        height: 55px;
        width: 55px;
        path {
          stroke-width: 7px;
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Loader-spin 1.1s infinite linear;
  }

  &_color_gradient {
    svg stop:first-child {
      stop-color: $gradient-color-primary-first;
    }
    svg stop:last-child {
      stop-color: $gradient-color-primary-second;
    }
  }

  @each $colorName, $colorMap in variables.$color-themes {
    &_color_#{$colorName} {
        @include mixins.loader-color($colorMap, $colorName, $root);
    }
  }
}

@keyframes Loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
