:root {
  --gradient-color-primary-first: #651FFF;
  --gradient-color-primary-second: #BA9BFF;
  --color-gray: #DBE2E6;
}

html[data-theme="dark"] { 
  --gradient-color-primary-first: #9362FF;
  --gradient-color-primary-second: #B898FF;
  --color-gray: #5B5C6B;
}

$gradient-color-primary-first: var(--gradient-color-primary-first);
$gradient-color-primary-second: var(--gradient-color-primary-second);
$color-gray: var(--color-gray);

.LoaderView {
  height: 100%;

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    &_color_primary {
      svg stop:first-child {
        stop-color: $gradient-color-primary-first;
      }
  
      svg stop:last-child {
        stop-color: $gradient-color-primary-second;
      }
    }

    &_color_gray {
      svg stop {
        stop-color: $color-gray;
      }
    }

    &_size_small {
      svg {
        height: 33px;
        width: 33px;
        path {
          stroke-width: 4px;
        }
      }
    }

    &_size_large {
      svg {
        height: 55px;
        width: 55px;
        path {
          stroke-width: 7px;
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Loader-spin 1.1s infinite linear;
  }
}

@keyframes Loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}