@use "../../scss/variables";
@use '../../scss/mixins';


.DateFieldView {
    $root: &;
    position: relative;
    
    @include mixins.date-default-input();

    @include mixins.date-default-body();

    @include mixins.icon-container($root);

    @include mixins.date-default-sizes($root);

    @include mixins.date-default-effects($root);

    

    &__dropdown { 
        background: variables.$element-background-color;

        @include mixins.calendar-border();
    }
}
