.FieldListView {

  &__table {
    th, thead th, td {
      border: none;
    }
  }

  &__table-cell {
    .form-group {
      margin-bottom: 0;
    }

    &_remove {
      vertical-align: middle !important;
    }
  }

  &__table-cell-header {
    padding-bottom: 0 !important;
  }

  &__remove {
    cursor: pointer;
    color: $danger;
  }

  &__button-add {
    margin-left: 0.75rem;
  }

  .FileFieldView__files {
    margin-bottom: 0;
  }
}