:root {
  --background-th: #f1f5f7;
}

html[data-theme="dark"] { 
  --background-th: #414141;
}

$background-th: var(--background-th);

.FieldListView {
  table {
    width: 100%;
    background-color: transparent;
    border: 1px solid $additional-gray;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
  }

  th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid $additional-gray;
  }

  tr th {
    border-bottom: 1px solid $additional-gray;
    background-color: $background-th;
    color: $text-color;
    font-size: 14px;
    line-height: 18px;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid $additional-gray;
  }
  
  tfoot > tr > td{
    border-top: 1px solid $additional-gray;
  }

  tr td {
    padding: 12px;
  }

  tr th {
    text-align: left;
    padding: 20px 12px;
  }

  tr td .CheckboxFieldView{
    justify-content: center
  }

  &_zebra {
    tr:nth-child(even) {
      background-color: $additional-light-gray;
    }
  }

  &__button-add {
    > span {
      gap: 4px;
    }

    svg > * {
      stroke: inherit;
    }
  }
}