@use "../../scss/variables";

.ListView {
    color: variables.$text-color;

    .FormView {
        margin-bottom: 10px;
    }

    &__infinite-scroll {
        width: 100%;
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 3px;

        &-sizes {
            margin-bottom: 10px;
            width: 100%;
        }

        &-button {
            margin: 16px auto 0;
        }
    }

    &__content {
        margin-bottom: 3px;
    }
}
