.ListView {
    &__pagination {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin-bottom: 3px;

        &-sizes {
            width: calc(100% / 4);

            .PaginationSizeView__sizes {
                display: flex;
                flex-flow: row nowrap;
            }
        }
    }

    &__content {
        margin-bottom: 3px;
    }
}
