@use "../../scss/variables";

:root {
    --legend-color: #152536;
    --fieldset-border-color: #E6E6E6;
}

html[data-theme="dark"] {
    --legend-color: #ffffff;
    --fieldset-border-color: #595959;
}

$legend-color: var(--legend-color);
$fieldset-border-color: var(--fieldset-border-color);

.FieldSetView{
    border: 1px solid $fieldset-border-color;
    border-radius: 8px;

    &__legend {
        color: $legend-color;

        padding: 8px;
        margin-left: 16px;

        line-height: 32px;
        font-weight: 700;
        font-size: 24px;

    }

    .FieldLayoutView {
        padding: 0 24px 24px 24px;
        margin-bottom: 0;
    }

    .FieldLayoutView + .FieldLayoutView {
        padding-top: 0;
    }
}
