@use "../../scss/variables" as vars;

:root {
    --detail-background-color-value: $white;
    --detail-background-color-label: var(--additional-light-blue);
}

html[data-theme="dark"] {
    --detail-background-color-value: var(--graphite);
    --detail-background-color-label: var(--additional-gray-dark);
}

$detail-background-color-value: var(--detail-background-color-value);
$detail-background-color-label: var(--detail-background-color-label);

.DetailView {
    font-family: vars.$font-family-nunito;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__title {
        color: vars.$black-30;
        font-size: 56px;
        line-height: 56px;
        font-weight: vars.$font-weight-lg;
    }

    &__controls {
        margin-left: auto;
    }

    &__table-container {
        display: flex;
        border-radius: 10px;
        border: 1px solid vars.$gray;
        overflow: hidden;
    }

    &__table {
        background: #ffffff;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
    }

    &__row:not(:last-child) {
        border-bottom: 1px solid vars.$gray;
    }

    &__label,
    &__value {
        &:not(:last-child) {
            border-right: 1px solid vars.$gray;
        }

        padding: 12px;

        font-weight: vars.$font-weight-md;
        font-size: vars.$font-size-sm;
        line-height: 18px;
        color: vars.$text-color;
        background-color: $detail-background-color-value;
        text-align: start;

        &_size_md {
            padding: 16px 12px;
            font-size: vars.$font-size-base;
            line-height: 22px;
        }

        &_size_lg {
            padding: 18px 12px;
            font-size: vars.$font-size-lg;
            line-height: 24px;
        }
    }

    &__label {
        background: $detail-background-color-label;
    }
}
