:root {
    --detail-background-color-value: #ffffff;
    --detail-background-color-label: #f9fcff;
    --detail-border-color: #e9e9e9;

    html[data-theme="dark"] {
        --detail-background-color-value: #4E4F57;
        --detail-background-color-label: #5B5C6B;
        --detail-border-color: #ADAAB3;
    }
}

$detail-border-color: var(--detail-border-color);
$detail-background-color-value: var(--detail-background-color-value);
$detail-background-color-label: var(--detail-background-color-label);

.DetailView {
    font-family: $font-family-nunito;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__title {
        color: $black-30;
        font-size: 56px;
        line-height: 56px;
        font-weight: $font-weight-lg;
    }

    &__controls {
        margin-left: auto;
    }

    &__table-container {
        display: flex;
        border-radius: 10px;
        border: 1px solid $detail-border-color;
        overflow: hidden;
    }

    &__table {
        background: #ffffff;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
    }

    &__row:not(:last-child) {
        border-bottom: 1px solid $detail-border-color;
    }

    &__label,
    &__value {
        &:not(:last-child) {
            border-right: 1px solid $detail-border-color;
        }

        padding: 12px;

        font-weight: $font-weight-md;
        font-size: $font-size-sm;
        line-height: 18px;
        color: $text-color;
        background-color: $detail-background-color-value;

        &_size_md {
            padding: 16px 12px;
            font-size: $font-size-base;
            line-height: 22px;
        }

        &_size_lg {
            padding: 18px 12px;
            font-size: $font-size-lg;
            line-height: 24px;
        }
    }

    &__label {
        background: $detail-background-color-label;
    }
}
