:root { 
    --copy-icon-stroke: #323232;
    --copy-disabled-stroke: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
    --copy-icon-stroke: #FFFFFF;
    --copy-disabled-stroke: rgba(255, 255, 255, 0.1);
}

$copy-icon-stroke: var(--copy-icon-stroke);
$copy-disabled-stroke: var(--copy-disabled-stroke);

.CopyToClipBoardView {
    display: inline-block;
    cursor: pointer;

    .IconView {
        width: 24px;
        height: 24px;
    }

    svg {
        width: 100%;
        height: 100%;

        path {
            stroke: $copy-icon-stroke;
        }
    }

    &_disabled { 
        cursor: not-allowed;

        svg { 
            path {
                stroke: $copy-disabled-stroke;
            }
        }
    }
}
