@use "style/variables";

:root {
    --calendar-system-icon-background-color: #f1f5f7;
    --calendar-system-icon-chevron-color: #323232;
}

html[data-theme="dark"] {
    --calendar-system-icon-background-color: #4b4e5e;
    --calendar-system-separator-color: rgba(255, 255, 255, 0.1);
}

$calendar-system-icon-background-color: var(--calendar-system-icon-background-color);
$calendar-system-separator-color: var(--calendar-system-separator-color);

.AsideCalendars {
    $root: &;

    position: relative;

    &::before {
        content: "";
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin: 32px 0px;

        background-color: $calendar-system-separator-color;
    }

    .AccordionItemView {
        width: 100%;

        &_opened {
            overflow: visible;
        }

        &__icon-chevron {
            box-shadow: none;

            svg {
                rect {
                    fill: $calendar-system-icon-background-color;
                }
                path {
                    stroke: variables.$icon-color;
                }
            }
        }

        &__icon-wrapper {
            top: 14px;
        }

        &__header-container {
            background-color: variables.$element-background-color;
        }

        &__content {
            padding: 0;

            > .FieldLayoutView {
                margin-bottom: 0;
            }
        }

        &__content_visible {
            padding: 0;
            border: none;
            overflow: visible;
        }

        &__title-container {
            width: 238px;
            padding-left: 0;
            padding-top: 12px;

            p {
                font-size: variables.$font-size-16;
                font-weight: variables.$font-weight-lg;
                line-height: variables.$line-height-22;
            }
        }
    }

    &__add {
        width: 24px;
        height: 24px;
        max-width: 24px;
        min-width: auto;
        padding: 4px;
        position: relative;
        margin-top: 8px;

        svg {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            rect {
                fill: $calendar-system-icon-background-color;
            }
            path {
                stroke: variables.$icon-color;
            }
        }
    }
}
