:root {
    --color-icon: #323232;
  }
  
  html[data-theme="dark"] { 
    --color-icon: #ffffff;
  }

  $color-icon: var(--color-icon);

.MenuView {
    width: 248px;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    &::before, &::after {
        content: none;
    }

    &__button {
        display: inline-flex;
        cursor: pointer;
    }

    &__icon {
        display: inline-flex;
        
        svg {
            stroke: $color-icon;
            width: $icon-size-lg;
            height: $icon-size-lg;
        }

        svg rect {
           fill : $color-icon;
        }

        svg > * {
            stroke:inherit;
        }
    }
}