:root {
    --color-menu-item: #323232;
    --color-border: rgba(0, 0, 0, 0.1);
  }
  
  html[data-theme="dark"] { 
    --color-menu-item: #ffffff;
    --color-border: rgba(255, 255, 255, 0.1);
  }

  $color-menu-item: var(--color-menu-item);
  $color-border: var(--color-border);

.MenuItemView {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;

    &__title {
        color: $color-menu-item;
        display: flex;
        align-items: center;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
    }

    &__icon {
        display: flex;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;

        svg {
            stroke: $color-menu-item;
          }

        svg > * {
            stroke:inherit;
        }
    }

    &__none-icon {
        display: flex;
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

    &:hover {
        background-color: $light-gray;
    }

    &_hasBorder{
        border-bottom: 1px solid $color-border;
    }
}