@use "../../scss/variables" as vars;

:root {
    --color-menu-item: #323232;
    --color-border: rgba(0, 0, 0, 0.1);
  }
  
  html[data-theme="dark"] { 
    --color-menu-item: #ffffff;
    --color-border: rgba(255, 255, 255, 0.1);
  }

  $icon-size: 20px;

  $color-menu-item: var(--color-menu-item);
  $color-border: var(--color-border);

.MenuItemView {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;

    &:first-child {
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }

    &:last-child {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &__label {
        color: $color-menu-item;
        font-size: vars.$font-size-xs;
        line-height: vars.$line-height-xs;
    }

    &__icon {
        display: flex;
        margin-right: 8px;
        align-items: center;
        justify-content: center;

        svg {
            stroke: $color-menu-item;
            width: $icon-size;
            height: $icon-size;
          }

        svg > * {
            stroke:inherit;
        }
    }

    &_noneIcon {
      padding-left: 36px;
    }

    &:hover {
        background-color: vars.$gray;
    }

    &_hasBorder{
        border-bottom: 1px solid $color-border;
    }
}