@use "../../scss/variables";
@use '../../scss/mixins';

.TextView {
  margin-bottom: 1em;
  font-family: variables.$font-family-nunito;

  @each $typeName, $typeMap in variables.$text-types {
    &_type_#{$typeName} {
        @include mixins.typography-type($typeMap);
    }
  }

  @each $colorName, $color in variables.$typography-colors {
    &_color_#{$colorName} {
      color: $color;
    }
  }
}
