@use "../../scss/variables";

:root {
  --grid-icon-color: #323232;
}

html[data-theme="dark"] {
  --grid-icon-color: #ffffff;
}

$grid-icon-color: var(--grid-icon-color);

.TreeItemView {
  $root: &;

  margin: 0;
  padding: 0;

  &_has-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    #{$root}__item {
      display: flex;
      margin-left: 8px;
    }
  }

  &_has-items {
    cursor: pointer;
  }

  &_disabled {
    cursor: not-allowed;

    #{$root}__icon {
      pointer-events: none;

      svg > * {
          stroke: var(--disabled-text-color);
      }
    }
  }

  &__icon,
  &__custom-icon {
    transform: rotate(0);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &_opened {
      transform: rotate(90deg);
    }

    svg > * {
        stroke: $grid-icon-color;
    }
  }
}
