.FieldLayoutView {
    $root: &;
    font-family: $font-family-nunito;

    &__label {
        font-size: $font-size-sm;
        line-height: 24px;
        font-weight: $font-weight-sm;
        color: $text-color;
        margin-bottom: 8px;

        &_size {
            &_sm {
                font-size: $font-size-sm;
            }
            &_md {
                font-size: $font-size-base;
            }
            &_lg {
                font-size: $font-size-lg;
            }
        }

        &_required:after {
            display: inline-block;
            content: "*";
            color: $danger;
            margin: 0 0 0 3px;
        }
    }

    &__invalid-feedback {
        display: block !important;
        margin-top: 4.83px;
    }

    &__error-message {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        column-gap: 4px;
    }

    &__hint {
        width: 100%;
        margin-top: 4px;
        font-size: 80%;

        color: $text-color;
        font-size: $font-size-sm;
        line-height: 16px;
        font-weight: $font-weight-sm;

        display: flex;
        align-items: center;
        column-gap: 4px;

        &_size {
            &_lg {
                font-size: $font-size-base;
                line-height: 22px;
                font-weight: $font-weight-sm;
            }

            &_md {
                font-size: $font-size-sm;
                line-height: 18px;
                font-weight: $font-weight-sm;
            }

            &_sm {
                font-size: $font-size-xs;
                line-height: 16px;
                font-weight: $font-weight-sm;
            }
        }
    }

    @mixin svgSize() {
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__icon_error {
        width: 16px;
        height: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        @include svgSize;

        svg rect {
            color: $danger;
        }
    }

    &__error-text { 
        color: $danger;
        &_size {  
            &_lg {
                font-size: $font-size-base;
                line-height: 22px;
                font-weight: $font-weight-sm;
            }

            &_md {
                font-size: $font-size-sm;
                line-height: 18px;
                font-weight: $font-weight-sm;
            }

            &_sm {
                font-size: $font-size-xs;
                line-height: 16px;
                font-weight: $font-weight-sm;
            }
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
    }
}
