@use "../../scss/variables";

.FieldLayoutView {
    margin-bottom: 1rem;
    $root: &;
    font-family: variables.$font-family-nunito;

    &__label {
        font-size: variables.$font-size-sm;
        line-height: 24px;
        font-weight: variables.$font-weight-sm;
        color: variables.$text-color;
        margin-bottom: 8px;

        &_size {
            &_sm {
                font-size: variables.$font-size-sm;
            }
            &_md {
                font-size: variables.$font-size-base;
            }
            &_lg {
                font-size: variables.$font-size-lg;
            }
        }

        &_required:after {
            display: inline-block;
            content: "*";
            color: variables.$danger;
            margin: 0 0 0 3px;
        }
    }

    &__invalid-feedback {
        display: block !important;
        margin-top: 4.83px;
    }

    &__error-message {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        column-gap: 4px;
    }

    &__hint {
        width: 100%;
        margin-top: 4px;
        font-size: 80%;

        color: variables.$text-color;
        font-size: variables.$font-size-sm;
        line-height: 16px;
        font-weight: variables.$font-weight-sm;

        display: flex;
        align-items: center;
        column-gap: 4px;

        &_size {
            &_lg {
                font-size: variables.$font-size-base;
                line-height: 22px;
                font-weight: variables.$font-weight-sm;
            }

            &_md {
                font-size: variables.$font-size-sm;
                line-height: 18px;
                font-weight: variables.$font-weight-sm;
            }

            &_sm {
                font-size: variables.$font-size-xs;
                line-height: 16px;
                font-weight: variables.$font-weight-sm;
            }
        }
    }
    
    &__icon_error {
        width: 16px;
        height: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
            width: 100%;
            height: 100%;

            rect {
                color: variables.$danger;
            }
        }
    }

    &__error-text {
        color: variables.$danger;
        &_size {
            &_lg {
                font-size: variables.$font-size-base;
                line-height: 22px;
                font-weight: variables.$font-weight-sm;
            }

            &_md {
                font-size: variables.$font-size-sm;
                line-height: 18px;
                font-weight: variables.$font-weight-sm;
            }

            &_sm {
                font-size: variables.$font-size-xs;
                line-height: 16px;
                font-weight: variables.$font-weight-sm;
            }
        }
    }
}
