@use "../../scss/variables";

:root {
    --pagination-border-color: var(--gray);
    --pagination-hover-background-color: $white;

    --pagination-arrow-color: #323232;
    --pagination-background-color-disabled: #F1F5F7;
}

html[data-theme="dark"] {
    --pagination-border-color: var(--background-color);
    --pagination-hover-background-color: var(--gray-dark);

    --pagination-arrow-color: #ffffff;
    --pagination-background-color-disabled: #333646;
}

$pagination-border-color: var(--pagination-border-color);
$pagination-hover-background-color: var(--pagination-hover-background-color);

$pagination-arrow-color: var(--pagination-arrow-color);
$pagination-background-color-disabled: var(--pagination-background-color-disabled);

.PaginationButtonView {
    $root: &;

    display: flex;
    flex-flow: row nowrap;
    color: variables.$text-color;

    &_size {
        &_lg {
            height: 48px;
            #{$root}__page {
                &-button {
                    padding: 12px 18px;
                    font-size: variables.$font-size-lg;
                    line-height: 24px;

                    &_hasIcon {
                        padding: 12px;
                    }
                }

                &_rounding-left {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;

                    &::before {
                        border-top-left-radius: 14px;
                        border-bottom-left-radius: 14px;
                    }
                }

                &_rounding-right {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;

                    &::before {
                        border-top-right-radius: 14px;
                        border-bottom-right-radius: 14px;
                    }
                }

                &::before {
                    transform: translate(-4px, -4px);
                }
            }
        }
        &_md {
            height: 40px;
            #{$root}__page {
                &-button {
                    padding: 8px 14px;
                    font-size: variables.$font-size-base;
                    line-height: 24px;

                    &_hasIcon {
                        padding: 8px 11px;
                    }
                }

                &_rounding-left {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;

                    &::before {
                        border-top-left-radius: 14px;
                        border-bottom-left-radius: 14px;
                    }
                }

                &_rounding-right {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;

                    &::before {
                        border-top-right-radius: 14px;
                        border-bottom-right-radius: 14px;
                    }
                }

                &::before {
                    transform: translate(-4px, -4px);
                }
            }
        }
        &_sm {
            height: 32px;
            #{$root}__page {
                &-button {
                    padding: 4px 12px;
                    font-size: variables.$font-size-sm;
                    line-height: 25px;

                    &_hasIcon {
                        padding: 4px 7px;
                    }
                }

                &_rounding-left {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;

                    &::before {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }

                &_rounding-right {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;

                    &::before {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }

                &::before {
                    transform: translate(-4px, -4px);
                }
            }
        }
    }

    &__page {
        position: relative;
        $pageRoot: &;

        display: inline-block;
        cursor: pointer;

        background-color: variables.$element-background-color;
        border: 1px solid $pagination-border-color;
        border-right: none;

        &::before {
            position: absolute;
            z-index: 2;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-radius: inherit;
            border: 4px solid variables.$light-gray;
            opacity: 0;
        }

        &:last-child {
            border: 1px solid $pagination-border-color;
        }

        &_active {
            background-color: variables.$primary;
            color: variables.$white;
        }

        &_hasIcon:not(#{$pageRoot}_disabled):active {
            background-color: variables.$primary;

            #{$pageRoot}-icon {
                path {
                    stroke: #ffffff;
                }
            }
        }

        &:not(#{$pageRoot}_disabled):not(#{$pageRoot}_active):hover {
            border-color: variables.$element-border-color-hover;
            background-color: $pagination-hover-background-color;
        }

        &:not(#{$pageRoot}_disabled):focus-within::before {
            opacity: 1;
        }

        &_rounding {
            &-left {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &-right {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        &-button {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            color: inherit;
            user-select: none;
            outline: none;
        }

        &-icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            pointer-events: none;

            display: flex;
            justify-content: center;
            align-items: center;

            rect {
                fill: transparent;
            }

            path {
                stroke: $pagination-arrow-color;
            }

            &_rotate {
                transform: rotate(180deg);
            }
        }

        &_disabled {
            background-color: variables.$element-background-color-disabled;
            color: variables.$element-placeholder-color-disabled;

            cursor: not-allowed;

            button {
                cursor: not-allowed;
            }

            #{$pageRoot}-icon {
                pointer-events: none;
                path {
                    stroke: variables.$element-placeholder-color-disabled;
                }
            }
        }
    }
}
