.CollapseItemView {
  display: grid;
  align-items: center;

  background-color: #fff;
  border-bottom: 1px solid rgba(#000, .1);
  box-shadow: 0 0 3px 0 rgba(34, 60, 80, 0.2);
  min-height: 48px;
  width: 100%;

  &_disable {
    opacity: .4;
    background-color: #d7d7d7;
    color: rgba(#212529, .7);

    .IconView {
      svg {
        fill-opacity: .6;
      }
    }
  }

  &_borderless {
    border-bottom: unset;
    box-shadow: unset;
  }

  &_active {
    margin-bottom: 16px;
  }

  p {
    margin: 0;
  };

  &__icon {
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &_active {
    transform: rotate(180deg);
    }

    &_disable_cursor {
      cursor: auto;
    }
  }

  &__header-container {
    display: flex;
    &_revert {
      flex-direction: row-reverse;
    }
  }

  &__title-container {
    width: 100%;
    padding: 0 16px;
    align-self: center;
  }

  &__icon-wrapper {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    &_not_visible {
      width: 0;
      opacity: 0;
    }
  }

  &__content {
    transition: all 200ms ease;
    overflow: hidden;
    max-height: 0;
    padding: 0 16px;

    &_visible {
      max-height: 1024px;
      padding: 0 16px 8px 16px
    }
  }
}
