@use "style/variables";

:root {
    --calendar-system-hour-border-color: #dbe2e6;
    --calendar-system-time-background-color: #fff;
    --calendar-system-today-background-color: #dbe2e6;
    --calendar-system-today-border-color: #cbd5db;
}

html[data-theme="dark"] {
    --calendar-system-hour-border-color: #333646;
    --calendar-system-time-background-color: #4b4e5e;
    --calendar-system-today-background-color: #191b1f;
    --calendar-system-today-border-color: #333646;
    --calendar-system-today-day-background-color: #651fff;
}

$calendar-system-hour-border-color: var(--calendar-system-hour-border-color);
$calendar-system-time-background-color: var(--calendar-system-time-background-color);
$calendar-system-today-background-color: var(--calendar-system-today-background-color);
$calendar-system-today-border-color: var(--calendar-system-today-border-color);

$calendar-border-style: 1px solid $calendar-system-hour-border-color;
$calendar-today-border-style: 1px solid $calendar-system-today-border-color;

.WeekGrid {
    $root: &;
    overflow-y: scroll;
    margin-top: 11px;

    @include variables.scrollWrapper(568px, 20px, variables.$scroll-thumb-color, variables.$scroll-track-color);

    &__content {
        display: flex;

        #{$root}__hours-time {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            margin-right: 8px;

            &-item {
                width: 40px;
                height: 24px;
                border-radius: variables.$radius-small;
                background-color: $calendar-system-time-background-color;
                color: variables.$custom-text-color-base;
                font-size: variables.$font-size-xs;
                font-weight: variables.$font-weight-sm;
                line-height: variables.$line-height-xs;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__table {
        display: grid;
        width: calc(100% - 48px);
        grid-template-columns: repeat(7, 1fr);

        //Borders
        #{$root}__column:first-child {
            #{$root}__hour {
                border-left: $calendar-border-style;
            }
        }

        #{$root}__day-hours {
            display: grid;
            grid-template-rows: repeat(24, 80px);

            #{$root}__hour {
                border-top: $calendar-border-style;
            }

            &:last-child #{$root}__hour {
                border-right: $calendar-border-style;
            }

            #{$root}__hour:last-child {
                border-bottom: $calendar-border-style;
            }

            &:not(:last-child) #{$root}__hour {
                border-right: $calendar-border-style;
            }
        }
    }

    &__hours-time {
        margin-top: 22px;
    }

    &__day {
        font-size: variables.$font-size-sm;
        font-weight: variables.$font-weight-md;
        line-height: variables.$line-height-sm;
        padding: 8px 10px;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
    }

    &__hour {
        cursor: pointer;
    }

    //Styles for today column
    &__column {
        &_isToday {
            #{$root}__hour {
                background-color: $calendar-system-today-background-color;
            }

            #{$root}__day-hours {
                #{$root}__hour {
                    border-top: $calendar-today-border-style;
                }

                &:last-child #{$root}__hour {
                    border-right: $calendar-today-border-style;
                }

                #{$root}__hour:last-child {
                    border-bottom: $calendar-today-border-style;
                }

                &:not(:last-child) #{$root}__hour {
                    border-right: $calendar-today-border-style;
                }
            }

            #{$root}__day {
                padding: 4px 10px;
                color: variables.$white;

                &-wrapper {
                    position: relative;
                    padding: 4px;
                    background-color: variables.$primary;
                    border-radius: 200px;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 3px solid variables.$primary-light;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: inherit;
                        transform: translate(-3px, -3px);
                    }
                }
            }
        }
    }

    //Borders
    &__column:first-child#{$root}__column_isToday {
        #{$root}__hour {
            border-left: $calendar-today-border-style;
        }
    }
}
