$btn-font-weight-sm: 400;
$btn-font-weight-lg: 800;
$btn-line-height: 24px;
$btn-letter-spacing: 0.1em;

.ButtonView {
    $root: &;

    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &_button {
        position: relative;
        border-radius: $radius-small;
        user-select: none;
        border: 3px solid transparent;

        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: $font-family-nunito;
        font-weight: $btn-font-weight-sm;
        font-size: $font-size-sm;
        line-height: $btn-line-height;
        outline: none;
    }

    @each $colorName, $colorMap in $color-themes {
        &_color_#{$colorName} {
            @include button-theme($colorMap, $colorName, $root);
        }
    }

    @each $colorName, $colorMap in $color-themes {
        &_outline_#{$colorName} {
            @include button-outline-theme($colorMap, $colorName, $root);
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_block {
        display: block;
        width: 100%;

        #{$root}__label {
            justify-content: center;
        }
    }



    &_tag { 
        &-a { 
            width: auto;
        }
    }

    &_disabled {
        opacity: 0.5;
        color: rgba(0, 0, 0, 0.1);
        cursor: not-allowed;

        input {
            cursor: inherit;
        }
    }

    &_size {
        &_sm {
            height: 34px;
            font-size: $font-size-sm;
            border-radius: $radius-small;
        }
        &_md {
            height: 46px;
            font-size: $font-size-base;
            border-radius: $radius-large;
        }
        &_lg {
            height: 56px;
            font-size: $font-size-lg;
            border-radius: $radius-large;
        }
    }

    &_link {
        display: inline;
        width: auto;
        height: auto;
        background-color: transparent;

        &:focus-visible, &:focus {
            border: none;
        }

        &:hover,&:active {
            background-color: transparent;
        }
    }

    &__icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        &_without-label {
            margin: 0;
        }
    }

    &_failed {
        &,
        &:hover {
            border-color: $danger;
            box-shadow: 0 0 1rem rgba($danger, 0.2);
        }
    }

    &_loading {
      cursor: default;
    }

    &__preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__badge {
        position: relative;
        top: -1px;
        margin-left: 4px;
        border-radius: $radius-small;
        font-size: $font-size-xs;
        line-height: 16px;
        padding: 3px 5px;

        $badge-types: (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "danger": $danger,
            "warning": $warning,
            "info": $info,
        );

        @each $type, $color in $badge-types {
            &_#{$type} {
                background-color: $color;
            }
        }
    }

    &__loader {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 14px;
            height: 14px;
            transform-origin: center;
            animation: rotate 1.45s linear infinite;
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
