@use "sass:map";
@use "../../scss/variables";

:root {
    --accordion-light-background: var(--gray);
    --accordion-intermediate-background: #ffffff;
    --accordion-dark-background: #312c3a;

    --accordion-chevron-light-background: #ffffff;
    --accordion-chevron-intermediate-background: #ffffff;
    --accordion-chevron-dark-background: #ffffff;

    --accordion-chevron-inner-default-color: var(--graphite);
    --accordion-chevron-inner-revert-color: #323232;

    --accordion-chevron-default-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    --accordion-chevron-revert-box-shadow: none;

    --accordion-content-background: #ffffff;
    --accordion-text-color: #312c3a;
    --accordion-content-border: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
    --accordion-light-background: var(--graphite);
    --accordion-intermediate-background: var(--gray);
    --accordion-dark-background: var(--gray-dark);

    --accordion-chevron-light-background: var(--gray);
    --accordion-chevron-intermediate-background: var(--gray-dark);
    --accordion-chevron-dark-background: #ffffff;

    --accordion-chevron-inner-default-color: #ffffff;
    --accordion-chevron-inner-revert-color: #323232;

    --accordion-chevron-default-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    --accordion-chevron-revert-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);

    --accordion-content-background: var(--graphite);
    --accordion-text-color: #ffffff;
    --accordion-content-border: rgba(255, 255, 255, 0.1);
}

$accordion-light-background: var(--accordion-light-background);
$accordion-intermediate-background: var(--accordion-intermediate-background);
$accordion-dark-background: var(--accordion-dark-background);

$accordion-chevron-light-background: var(--accordion-chevron-light-background);
$accordion-chevron-intermediate-background: var(--accordion-chevron-intermediate-background);
$accordion-chevron-dark-background: var(--accordion-chevron-dark-background);

$accordion-chevron-inner-default-color: var(--accordion-chevron-inner-default-color);
$accordion-chevron-inner-revert-color: var(--accordion-chevron-inner-revert-color);

$accordion-chevron-default-box-shadow: var(--accordion-chevron-default-box-shadow);
$accordion-chevron-revert-box-shadow: var(--accordion-chevron-revert-box-shadow);

$accordion-content-background: var(--accordion-content-background);

$accordion-text-color: var(--accordion-text-color);

$accordion-content-border: var(--accordion-content-border);

$accordion-themes: () !default;
$accordion-themes: map.merge(
    (
        "light": (
            "background": $accordion-light-background,
            "text-color": $accordion-text-color,
            "chevron-box-shadow": $accordion-chevron-default-box-shadow,
            "chevron-background": $accordion-chevron-light-background,
            "chevron-inner-color": $accordion-chevron-inner-default-color,
        ),
        "intermediate": (
            "background": $accordion-intermediate-background,
            "text-color": $accordion-text-color,
            "chevron-box-shadow": $accordion-chevron-default-box-shadow,
            "chevron-background": $accordion-chevron-intermediate-background,
            "chevron-inner-color": $accordion-chevron-inner-default-color,
        ),
        "dark": (
            "background": $accordion-dark-background,
            "text-color": #ffffff,
            "chevron-box-shadow": $accordion-chevron-revert-box-shadow,
            "chevron-background": $accordion-chevron-dark-background,
            "chevron-inner-color": $accordion-chevron-inner-revert-color,
        ),
    ),
    $accordion-themes
);

$accordion-rect-background: var(--accordion-rect-background);
$accordion-chevron-color: var(--accordion-chevron-color);

.AccordionItemView {
    $root: &;

    display: grid;
    align-items: center;
    overflow: hidden;

    background-color: $accordion-content-background;
    height: 56px;
    width: 480px;
    height: fit-content;

    @each $theme, $themeProperties in $accordion-themes {
        &_theme_#{$theme} {
            #{$root}__header-container {
                background-color: map.get($themeProperties, background);
                color: map.get($themeProperties, text-color);
            }

            #{$root}__icon-chevron {
                box-shadow: map.get($themeProperties, chevron-box-shadow);
                rect {
                    fill: map.get($themeProperties, chevron-background);
                }
                path {
                    stroke: map.get($themeProperties, chevron-inner-color);
                }
            }
        }
    }

    &_position {
        &_top {
            border-radius: variables.$radius-large variables.$radius-large 0 0;
        }

        &_middle {
            border-radius: 0px;
        }

        &_bottom {
            border-radius: 0 0 variables.$radius-large variables.$radius-large;

            #{$root}__content {
                grid-row-start: 1;
                grid-row-end: 1;
            }

            #{$root}__header-container {
                grid-row-start: 2;
                grid-row-end: 2;
            }

            #{$root}__icon-chevron {
                transform: rotate(180deg);
                &_active {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &_disable {
        opacity: 0.4;
        color: rgba(#212529, 0.7);

        #{$root}__header-container {
            background-color: #d7d7d7;
        }
    }

    &_active {
        margin-bottom: 16px;
    }

    p {
        margin: 0;
    }

    &__icon-chevron {
        width: 24px;
        height: 24px;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
        border-radius: variables.$radius-small;

        transform: rotate(0deg);
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &_active {
            transform: rotate(180deg);
        }
    }

    &__header-container {
        position: relative;
        cursor: pointer;
    }

    &__title-container {
        width: 100%;
        padding: 16px;
        align-self: center;

        font-size: variables.$font-size-lg;
        line-height: 24px;
    }

    &__icon-wrapper {
        width: 24px;
        height: 24px;

        position: absolute;
        top: 16px;
        right: 16px;

        &_not_visible {
            width: 0;
            opacity: 0;
        }
    }

    .IconView {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__content {
        transition: all 200ms ease;
        overflow: hidden;
        max-height: 0;
        padding: 0 16px;
        color: variables.$text-color;

        &_visible {
            max-height: 1024px;
            padding: 18px 32px 18px 16px;
            border: 1px solid $accordion-content-border;
        }
    }

    &__close-icon,
    &__open-icon {
        width: 24px;
        height: 24px;
    }

    &__close-icon {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &_opened {
        #{$root}__close-icon {
            position: static;
            opacity: 1;
            pointer-events: all;
        }

        #{$root}__open-icon {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }

}
