$alert-padding-y: 12px !default;
$alert-padding-x: 16px !default;

$alert-border-radius: 4px !default;
$alert-description-font-size: 18px !default;
$alert-message-font-size: 16px !default;

$alert-icon-size: 24px !default;
$alert-close-icon-size: 15px !default;
