@use "../common/colors";
@use "../common/old-variables";

$calendar-primary-color: colors.$primary !default;
$calendar-primary-light-color: colors.$primary-light !default;
$calendar-secondary-color: old-variables.$border-default !default;
$calendar-text-color: old-variables.$heading !default;
$calendar-selected-text-color: colors.$white !default;

$calendar-font-weight: 500 !default;

$calendar-day-border-radius: 10px !default;

$calendar-shadow-shape: 0 0 0 3px !default;
$calendar-selected-shadow: $calendar-shadow-shape $calendar-primary-light-color !default;
$calendar-today-shadow: $calendar-shadow-shape $calendar-primary-light-color !default;
$calendar-hover-shadow: $calendar-shadow-shape $calendar-secondary-color !default;
