$card-header-font-size: 20px !default;
$card-header-line-height: 24px !default;

$card-title-font-size: 20px !default;
$card-title-line-height: 24px !default;

$card-font-size: 14px !default;

$card-children-font-size: 16px !default;
$card-children-line-height: 28px !default;

$card-horizontal-header-font-size: 28px !default;
$card-horizontal-font-size: 16px !default;

$card-link-font-size: 16px !default;

$card-border-radius: 3px !default;
$card-button-border-radius: 4px !default;

$card-header-background: $grey-lighter !default;
