$input-height-sm: 28px !default;
$input-height-md: 36px !default;
$input-height-lg: 46px !default;

$input-border: 1px solid $border-default !default;
$input-border-radius: 4px !default;

$input-padding-y: 0 !default;
$input-padding-x: 8px !default;
$input-addon-padding: 0.6rem !default;
$input-text-padding: 0.4rem !default;