@use "../../scss/variables";
@use '../../scss/mixins';

:root {
    --autocomplete-hover-color: #f1f5f7;
    --autocomplete-selected-color: #dbe2e6;
    --autocomplete-icon-color: #313131;
}

html[data-theme="dark"] {
    --autocomplete-hover-color: #4e4f57;
    --autocomplete-selected-color: #5b5c6b;
    --autocomplete-icon-color: #ffffff;
}

$autocomplete-hover-color: var(--autocomplete-hover-color);
$autocomplete-selected-color: var(--autocomplete-selected-color);
$autocomplete-icon-color: var(--autocomplete-icon-color);

.AutoCompleteFieldView {
    $root: &;

    position: relative;

    &__input {
        width: 100%;
        border: 1px solid variables.$element-border-color;
        background-color: variables.$element-field-background-color;
        color: variables.$text-color;
        transition: border-color 150ms ease-in-out;
        font-size: inherit;
        line-height: inherit;
    }

    &_opened {
        #{$root}__input {
            border-color: variables.$primary;
        }
    }

    &__drop-down {
        width: 100%;
        top: 100%;
        left: 0;
        position: absolute;
        z-index: 9999;
        margin-top: 8px;
        border-radius: variables.$radius-large;
        background-color: variables.$element-background-color;
        border: 1px solid variables.$element-border-color;
        overflow: hidden;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        @include mixins.scrollWrapper(240px, 0, variables.$scroll-thumb-color, variables.$scroll-track-color);
    }

    &__item {
        width: 100%;
        flex-shrink: 0;
        background-color: variables.$element-background-color;
        outline: none;
        border: none;
        text-align: left;

        color: variables.$text-color;
        cursor: pointer;

        font-size: inherit;
        line-height: inherit;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &-label {
            display: inline-block;
        }

        &_hover {
            background-color: $autocomplete-hover-color;
        }

        &_select {
            background-color: $autocomplete-selected-color;
        }

        &-additional {
            display: flex;
            align-items: center;
            column-gap: 4px;

            &-icon {
                display: inline-block;
                width: 24px;
                height: 24px;

                path,
                circle {
                    stroke: $autocomplete-icon-color;
                }
            }
        }
    }

    &__category {
        background-color: variables.$element-background-color;
        width: 100%;
        flex-shrink: 0;

        &__label {
            display: block;
            padding: 12px 8px;
            color: variables.$element-placeholder-color;
        }
        &__content {
            width: 100%;
        }

        &_hidden {
            display: none;
        }
    }

    &__nothing {
        color: variables.$element-placeholder-color;
        width: 100%;
        margin-bottom: 48px;
        padding: 8px 12px;
        font-size: variables.$font-size-xs;
        line-height: variables.$line-height-xs;
    }

    &_size {
        &_lg {
            font-size: variables.$font-size-lg;
            line-height: variables.$line-height-lg;

            #{$root}__input {
                padding: 16px 8px;
                height: variables.$input-height-lg;
                border-radius: variables.$radius-large;
            }

            #{$root}__item {
                padding: 16px;
            }

            #{$root}__category {
                #{$root}__item {
                    padding: 16px 24px;
                }

               
                &__label {
                    font-size: variables.$font-size-base;
                    line-height: variables.$line-height-base;
                }
            }
        }

        &_md {
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-lg;

            #{$root}__input {
                padding: 11px 8px;
                height: variables.$input-height-md;
                border-radius: variables.$radius-large;
            }

            #{$root}__item {
                padding: 12px;
            }

            #{$root}__category {
                #{$root}__item {
                    padding: 12px 20px;
                }

                &__label {
                    font-size: variables.$font-size-sm;
                    line-height: variables.$line-height-sm;
                }
            }
        }

        &_sm {
            font-size: variables.$font-size-sm;
            line-height: variables.$line-height-lg;

            #{$root}__input {
                padding: 5px 8px;
                height: variables.$input-height-sm;
                border-radius: variables.$radius-small;
            }

            #{$root}__item {
                padding: 8px;
            }

            #{$root}__category {
                #{$root}__item {
                    padding: 8px 16px;
                }

                &__label {
                    font-size: variables.$font-size-xs;
                    line-height: variables.$line-height-xs;
                }
            }
        }
    }
}
