.FileFieldItemView {
  width: 200px;
  font-size: $font-size-sm;

  &:hover &__remove {
    display: block;
  }

  &__blank-img {
    text-align: center;
    padding: 35px 0 15px;
    width: 100%;

    &.IconView svg {
      width: 32px;
    }
  }

  &__text {
    max-height: 80px;
    overflow: hidden;
  }

  &__remove {
    position: absolute;
    top: 0;
    righT: 0;
    display: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
}
