@import "../../scss/variables/";

:root {
    --drop-down-background: #fff;

    html[data-theme="dark"] {
        --drop-down-background: #4e4f57;
    }
}

$drop-down-background: var(--drop-down-background);

$gap: 12px;

.DropDownView {
    z-index: 1000;
    position: absolute;

    transform: translate(0, 0);
    opacity: 0;
    transition: opacity 0.15s ease-in, transform 0.15s ease-in;

    width: 200px;
    padding: 12px;
    border-radius: $radius-large;
    background-color: $drop-down-background;
    border: 1px solid $gray;

    &_show {
        opacity: 1;
    }
    &_position-top,
    &_position-topLeft,
    &_position-topRight {
        transform: translateY(-$gap);
    }
    &_position-bottom,
    &_position-bottomLeft,
    &_position-bottomRight {
        transform: translateY($gap);
    }
    &_position-left,
    &_position-leftTop,
    &_position-leftBottom {
        transform: translateX(-$gap);
    }
    &_position-right,
    &_position-rightTop,
    &_position-rightBottom {
        transform: translateX($gap);
    }

    &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #fff;
    }
}
