@use 'sass:math';
@use "../../scss/variables";
@use '../../scss/mixins';

:root {
    --dropdown-background-color: #fff;
    --dropdown-border-color: #dbe2e6;
}

html[data-theme="dark"] {
    --dropdown-background-color: var(--gray-dark);
    --dropdown-border-color: transparent;
}

$dropdown-background-color: var(--dropdown-background-color);
$dropdown-border-color: var(--dropdown-border-color);

$dropdown-arrow-width: 10px;
$dropdown-arrow-height: 10px;
$dropdown-arrow-border: math.div($dropdown-arrow-width, 2);
$gap: 12px;

$dropdown-arrow-offset-horizontal: 20px;
$dropdown-arrow-offset-vertical-top: 15px;
$dropdown-arrow-offset-vertical-bottom: 7px;

.DropDownView {
    position: absolute;
    color: variables.$text-color;

    transform: translate(0, 0);
    opacity: 0;
    transition: opacity 0.15s ease-in, transform 0.15s ease-in;
    z-index: 4;

    min-width: 200px;
    padding: 12px;
    border-radius: variables.$radius-large;
    background-color: $dropdown-background-color;
    border: 1px solid $dropdown-border-color;

    &_show {
        opacity: 1;
    }

    @include mixins.absolute-position($gap);

    &__arrow {
        position: absolute;
        z-index: 1;
        display: block;
        pointer-events: none;
        width: $dropdown-arrow-width;
        height: $dropdown-arrow-height;
        overflow: hidden;
        border: 1px solid $dropdown-border-color;
        background-color: $dropdown-background-color;

        @include mixins.arrow-position(
                        $dropdown-arrow-border,
                        $dropdown-arrow-offset-horizontal,
                        $dropdown-arrow-offset-vertical-top,
                        $dropdown-arrow-offset-vertical-bottom
        );
    }

    &::before,
    &::after {
        opacity: 0;
    }
}
