.DateTimeRangeFieldView {
    $root: &;

    @include icon-container($root);

    @include date-range-body($root);

    &__body {
        > * {
            &:nth-child(1) {
                width: 140px;
            }
        }
    }

    &_size {
        @each $size, $size-map in $date-sizes {
            &_#{$size} {
                #{$root}__body {
                    #{$root}__input {
                        &:nth-child(1) {
                            width: calc(map-get($size-map, first-input-width) + 60px);
                        }
                    }
                }
            }
        }
    }

    @include date-range-input();

    @include date-range-sizes($root);

    @include date-range-effects($root);

    @include date-time-panel($root);
}
