@use "sass:map";
@use "../../scss/variables" as vars;
@use '../../scss/mixins';


.DateTimeRangeFieldView {
    $root: &;

    @include mixins.icon-container($root);

    @include mixins.date-range-body($root);

    &__body {
        > * {
            &:nth-child(1) {
                width: 140px;
            }
        }
    }

    &_size {
        @each $size, $size-map in mixins.$date-sizes {
            &_#{$size} {
                #{$root}__body {
                    #{$root}__input {
                        &:nth-child(1) {
                            width: calc(map.get($size-map, first-input-width) + 60px);
                        }
                    }
                }
            }
        }
    }

    @include mixins.date-range-input();

    @include mixins.date-range-sizes($root);

    @include mixins.date-range-effects($root);

    @include mixins.date-time-panel($root);

    &__dropdown { 
        @include mixins.calendar-border();
        background-color: vars.$element-background-color;
    }
}
