@use "sass:map";
@use "../../scss/variables";
@use '../../scss/mixins';

$positions: (
  top: (
    direction: column,
    responsive: top
  ),
  bottom: (
    direction: column-reverse,
    responsive: bottom
  ),
  left: (
    direction: row,
    responsive: left
  ),
  right: (
    direction: row-reverse,
    responsive: right
  )
);

$all-directions: top, bottom, left, right;

.DateTimeRangeFieldView {
    $root: &;

    @include mixins.icon-container($root);

    @include mixins.date-range-body($root);

    &__body {
        > * {
            &:nth-child(1) {
                width: 140px;
            }
        }
    }

    &_size {
        @each $size, $size-map in mixins.$date-sizes {
            &_#{$size} {
                #{$root}__body {
                    #{$root}__input {
                        &:nth-child(1) {
                            width: calc(map.get($size-map, first-input-width) + 60px);
                        }
                    }
                }
            }
        }
    }

    @include mixins.date-range-input();

    @include mixins.date-range-sizes($root);

    @include mixins.date-range-effects($root);

    @include mixins.date-time-panel($root);

    &__dropdown { 
        @include mixins.calendar-border();
        background-color: variables.$element-background-color;
    }
    
    &__calendar-wrapper {
        display: flex;
        width: min-content;

        &_position {
            @each $pos, $config in $positions {
                &_#{$pos} {
                    flex-direction: map.get($config, direction);
                    align-items: center;
                
                    @media (max-width: variables.$tablet-width) {
                        flex-direction: map.get($config, responsive);
                        align-items: center;
                    }
                }
            }
            @each $dir1 in $all-directions {
                @each $dir2 in $all-directions {
                    @if $dir1 != $dir2 {
                    &_#{$dir1}-#{$dir2} {
                        flex-direction: map.get(map.get($positions, $dir1), direction);
                        align-items: center;
                
                        @media (max-width: variables.$tablet-width) {
                            flex-direction: map.get(map.get($positions, $dir2), direction);
                            align-items: center;
                        }
                    }
                    }
                }
            }
        }
    }
}
