$tooltip-arrow-color: #000;
$tooltip-arrow-width: 8px;
$tooltip-arrow-height: 8px;
$tooltip-arrow-border: $tooltip-arrow-width / 2;
$tooltip-gap: 12px;

$tooltip-arrow-offset-horizontal: 20px;
$tooltip-arrow-offset-vertical-top: 15px;
$tooltip-arrow-offset-vertical-bottom: 7px;

.TooltipView {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0,0);
  opacity: 0;
  transition: opacity .15s ease-in, transform .15s ease-in;

  &_show {
    opacity: 1;
  }
  &_show.tooltip-position-top, &_show.tooltip-position-topLeft,  &_show.tooltip-position-topRight{
      transform: translateY(-$tooltip-gap);
  }
  &_show.tooltip-position-bottom, &_show.tooltip-position-bottomLeft,  &_show.tooltip-position-bottomRight{
    transform: translateY($tooltip-gap);
  }
  &_show.tooltip-position-left, &_show.tooltip-position-leftTop,  &_show.tooltip-position-leftBottom{
    transform: translateX(-$tooltip-gap);
  }
  &_show.tooltip-position-right, &_show.tooltip-position-rightTop,  &_show.tooltip-position-rightBottom{
    transform: translateX($tooltip-gap);
  }


  &__arrow{
    position: absolute;

    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    border-style: solid;
    border-width: $tooltip-arrow-height / 2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);


    &_position-top, &_position-topLeft, &_position-topRight{
      bottom: -$tooltip-arrow-border;
      left: 50%;

      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color:  $tooltip-arrow-color;
      border-bottom-color:  $tooltip-arrow-color;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position-topLeft{
      left: $tooltip-arrow-offset-horizontal;
    }
    &_position-topRight{
      left: unset;
      right: $tooltip-arrow-offset-horizontal;
    }

    &_position-bottom, &_position-bottomLeft, &_position-bottomRight{
      top: -$tooltip-arrow-border;
      left: 50%;
      border-top-color: $tooltip-arrow-color;
      border-left-color: $tooltip-arrow-color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position-bottomLeft{
      left: $tooltip-arrow-offset-horizontal;
    }
    &_position-bottomRight{
      left: unset;
      right: $tooltip-arrow-offset-horizontal;
    }

    &_position-left, &_position-leftTop, &_position-leftBottom{
      right: -$tooltip-arrow-border;
      top: 50%;
      border-top-color: $tooltip-arrow-color;
      border-left-color: transparent;
      border-right-color: $tooltip-arrow-color;
      border-bottom-color: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position-leftTop{
      top: $tooltip-arrow-offset-vertical-top;
    }
    &_position-leftBottom{
      top: unset;
      bottom: $tooltip-arrow-offset-vertical-bottom;
    }

    &_position-right, &_position-rightTop, &_position-rightBottom{
      left: -$tooltip-arrow-border;
      top: 50%;
      border-top-color: transparent;
      border-left-color: $tooltip-arrow-color;
      border-right-color: transparent;
      border-bottom-color: $tooltip-arrow-color;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position-rightTop{
      top: $tooltip-arrow-offset-vertical-top;
    }
    &_position-rightBottom{
      top: unset;
      bottom: $tooltip-arrow-offset-vertical-bottom;
    }
  }

}
