@import 'style/variables';

$tooltip-background-color: rgba(55, 55, 55, 1);
$tooltip-gap: 12px;

.Tooltip{
  z-index: 1070;
  position: absolute;

  //color: rgba(0, 0, 0, 0.85);
  font-size: 12px;

  &_position-top, &_position-topLeft, &_position-topRight{
    transform: translateY(-$tooltip-gap);
  }
  &_position-bottom, &_position-bottomLeft, &_position-bottomRight{
    transform: translateY($tooltip-gap);
  }
  &_position-left, &_position-leftTop, &_position-leftBottom{
    transform: translateX(-$tooltip-gap);
  }
  &_position-right, &_position-rightTop, &_position-rightBottom{
    transform: translateX($tooltip-gap);
  }

  &__body{
    position: relative;

    max-width: 300px;

    transition: opacity .1s ease-in, transform .1s ease-in;
    opacity: 0;

    &_show{
      opacity: 1;
    }
  }

  &__arrow{
    position: absolute;

    width: 8px;
    height: 8px;

    background: transparent;
    border-style: solid;
    border-width: 4px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);

    &_position-top, &_position-topLeft, &_position-topRight{
      bottom: -4px;
      left: 50%;

      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: #373737;
      border-bottom-color: #373737;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position-topLeft{
      left: 20px;
    }
    &_position-topRight{
      left: unset;
      right: 20px;
    }

    &_position-bottom, &_position-bottomLeft, &_position-bottomRight{
      top: -4px;
      left: 50%;
      border-top-color: $tooltip-background-color;
      border-left-color: $tooltip-background-color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position-bottomLeft{
      left: 20px;
    }
    &_position-bottomRight{
      left: unset;
      right: 20px;
    }

    &_position-left, &_position-leftTop, &_position-leftBottom{
      right: -4px;
      top: 50%;
      border-top-color: $tooltip-background-color;
      border-left-color: transparent;
      border-right-color: $tooltip-background-color;
      border-bottom-color: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position-leftTop{
      top: 15px;
    }
    &_position-leftBottom{
      top: unset;
      bottom: 7px;
    }

    &_position-right, &_position-rightTop, &_position-rightBottom{
      left: -4px;
      top: 50%;
      border-top-color: transparent;
      border-left-color: $tooltip-background-color;
      border-right-color: transparent;
      border-bottom-color: $tooltip-background-color;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position-rightTop{
      top: 15px;
    }
    &_position-rightBottom{
      top: unset;
      bottom: 7px;
    }

  }

  &__content{
    min-width: 30px;
    min-height: 32px;
    padding: 6px 8px;

    color: #fff;
    text-align: center;
    word-wrap: break-word;

    border-radius: 2px;
    background-color: $tooltip-background-color;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }

}