$primary: #651FFF !default;
$primary-dark: #410FAD !default;
$primary-light: #F0EAFF!default;

$secondary: #97A7C8 !default;
$secondary-dark: #596886 !default;
$secondary-light: #E3EAF9 !default;

$heading: #152536 !default;
$body: #68717A !default;
$white: #FFFFFF !default;

$success: #64D03E !default;
$success-dark: #218838 !default;
$success-light: #ABED94 !default;

$danger: #FF4557 !default;
$danger-dark: #DA2839 !default;
$danger-light: #ff99a3 !default;

$warning: #fad826 !default;
$warning-dark: #dcc131 !default;
$warning-light: #fff3b2 !default;

$info: #39bbd8 !default;
$info-dark: #2796af !default;
$info-light: #a7efff !default;

$light: #f8f9fa !default;
$light-dark: #e2e6ea !default;
$light-light: #fafafa !default;

$dark: #343a40 !default;
$dark-dark: #1a1c1e !default;
$dark-light: #acacac !default;

$color-themes: () !default;
$color-themes: map-merge(
  (
      "primary":   ("color": $primary,   "color-dark": $primary-dark,   "color-light": $primary-light, "text-color": $white),
      "secondary": ("color": $secondary, "color-dark": $secondary-dark, "color-light": $secondary-light, "text-color": $white),
      "success":   ("color": $success,   "color-dark": $success-dark,   "color-light": $success-light, "text-color": $white),
      "danger":    ("color": $danger,    "color-dark": $danger-dark,    "color-light": $danger-light, "text-color": $white),
      "warning":   ("color": $warning,   "color-dark": $warning-dark,   "color-light": $warning-light, "text-color": $dark),
      "info":      ("color": $info,      "color-dark": $info-dark,      "color-light": $info-light, "text-color": $white),
      "light":     ("color": $light,     "color-dark": $light-dark,     "color-light": $light-light, "text-color": $dark),
      "dark":      ("color": $dark,      "color-dark": $dark-dark,      "color-light": $dark-light, "text-color": $white)
  ),
  $color-themes
);

$grey-light: #D9D9D9 !default;
$grey-lighter: #F8F8F8 !default;
$grey: #F8F9FA !default;
$grey-dark: #2D2D2D !default;
$grey-darker: #78848E !default;
$grey-disabled: #F1F1F1 !default;

$additional: #0596FF !default;

$border-default: #CCCCCC !default;
$border-hover: #B0B0B0 !default;
$border-action: #39BBD8 !default;
$border-typing: #A7EFFF !default;
$back-disabled: #EBEBEB !default;
$back-success: #F1FFEC !default;
$border-success: #64D03E !default;
$back-error: #FCE7E7 !default;
$border-error: #FF4557 !default;
$back-info: #ECFCFF !default;
$back-warning: #FFFCEA !default;

