@import "colors";

$button-border: 3px solid transparent !default;
$button-border-radius: 4px !default;
$button-padding-y: 0px !default;
$button-padding-x: 20px !default;

$button-font-weight: 500 !default;
$button-font-size: 1rem !default;
$button-font-size-sm: 14px !default;
$button-font-size-md: 16px !default;
$button-font-size-lg: 18px !default;

$button-height-sm: 28px !default;
$button-height-md: 36px !default;
$button-height-lg: 46px !default;