@use "../../scss/variables" as vars;
@use '../../scss/mixins';

.TitleView {
  margin-bottom: 1em;
  font-family: vars.$font-family-nunito;

  @each $typeName, $typeMap in vars.$title-types {
    &_type_#{$typeName} {
        @include mixins.typography-type($typeMap);
    }
  }

  @each $colorName, $color in vars.$typography-colors {
    &_color_#{$colorName} {
      color: $color;
    }
  }
}
