.CalendarView {
  $root: &;

  position: relative;
  color: $calendar-text-color;
  font-weight: $calendar-font-weight;
  user-select: none;

  .DayPicker-wrapper {
    padding-bottom: 0;
  }
  .DayPicker-Months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .DayPicker-Month {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0;
  }

  // Body

  .DayPicker-Weekdays {
    display: table-header-group;
    margin-top: 1em;
  }
  .DayPicker-WeekdaysRow {
    display: table-row;
  }
  .DayPicker-Weekday {
    display: table-cell;
    width: 30px;
    height: 30px;
    padding: 0;
    color: inherit;
    text-align: center;
    font-size: 0.875em;
  }
  .DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
  }

  .DayPicker-Body {
    display: table-row-group;
  }
  .DayPicker-Week {
    display: table-row;

    &--disabled {
      pointer-events: none;
      opacity: .5;
    }
  }
  .DayPicker-Day {
    position: relative;
    display: table-cell;

    padding: 0;
    border-radius: $calendar-day-border-radius;

    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    transition-property: background-color, box-shadow, color;
    transition-duration: .1s;

    &::before {
      content: '';
      height: 30px;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-5px, -50%);
      width: 40px;
      z-index: 1;
    }

    &--outside {
      color: $calendar-secondary-color;
    }

    &--today {
      #{$root}__day {
        box-shadow: $calendar-today-shadow;
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: .5;
    }
  }

  // Footer

  .DayPicker-Footer {
    height: 50px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    border-top: 1px solid $calendar-secondary-color;
  }
  .DayPicker-TodayButton {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    font-size: 0.875em;
    cursor: pointer;
    color: $calendar-primary-color;
    font-weight: $calendar-font-weight;
  }

  // Days selection

  // Selected day
  .DayPicker-Day--selected:not(.DayPicker-Day--inRange) {
    color: $calendar-selected-text-color;
    border-radius: $calendar-day-border-radius;
    background-color: $calendar-primary-color;
    box-shadow: $calendar-selected-shadow;
  }

  // Hover
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: $calendar-secondary-light-color !important;
    box-shadow: $calendar-hover-shadow;
  }

  &__day {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: $calendar-day-border-radius;
  }

  &_ranged {

    .DayPicker-Day {
      &--start {
        color: $white;

        #{$root}__day {
          background-color: $calendar-primary-color;
          box-shadow: $calendar-selected-shadow;
        }

        &::before {
          background-color: $calendar-primary-light-color;
          width: 10px;
          transform: translate(25px, -50%);
        }
      }

      &--end {
        color: #fff;

        #{$root}__day {
          background-color: $calendar-primary-color;
          box-shadow: $calendar-selected-shadow;
        }

        &::before {
          background-color: $calendar-primary-light-color;
          width: 10px;
        }
      }


      &--inRange {
        &::before {
          background-color: $calendar-primary-light-color;
        }
      }

      &--outRange {
        pointer-events: none;
        &::before {
          background-color: $calendar-primary-light-color;
        }
      }

    }

  }
}
