:root {
    --day-background-color-hover: rgba(0, 0, 0, 0.1);
    --calendar-border-color: var(--light-gray);
}

html[data-theme="dark"] {
    --day-background-color-hover: rgba(255, 255, 255, 0.1);
    --calendar-border-color: var(--gray);
}

$day-background-color-hover: var(--day-background-color-hover);
$calendar-border-color: var(--calendar-border-color);

@mixin calendar-button () {
    padding: 5px 12.5px;
    border-radius: $radius-small;
    border: 1px solid $gray;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    color: $text-color;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
}

.CalendarView {
    $root: &;

    background-color: $element-background-color;
    border-radius: $radius-large;
    border: 4px solid $calendar-border-color;
    position: relative;
    color: $text-color;
    font-weight: $font-weight-md;
    user-select: none;
    padding: 12px;

    .DayPicker-wrapper {
        padding-bottom: 0;
    }

    .DayPicker-Months {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 12px;
    }

    .DayPicker-Month {
        margin: 0;
    }

    // Body
    .DayPicker-Weekdays {
        margin-top: 0;
    }

    .DayPicker-WeekdaysRow {
        display: inline-flex;
        column-gap: 16px;
    }

    .DayPicker-Weekday {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        padding: 0;
        color: inherit;
        text-align: center;
        vertical-align: middle;
        font-size: $font-size-base;
        line-height: $line-height-base;
        font-weight: $font-weight-lg;
        text-transform: capitalize;
    }

    .DayPicker-Weekday abbr[title] {
        border-bottom: none;
        text-decoration: none;
    }

    .DayPicker-Body {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 12px;
    }

    .DayPicker-Week {
        display: flex;
        width: 100%;
        column-gap: 16px;

        &--disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    .DayPicker-Day {
        position: relative;
        padding: 0;
        border-radius: $radius-large;

        vertical-align: middle;
        text-align: center;
        cursor: pointer;

        transition-property: background-color, box-shadow, color;
        transition-duration: 0.1s;

        &::before {
            content: "";
            height: 30px;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-5px, -50%);
            width: 40px;
            z-index: 1;
        }

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-width: 4px;
            border-style: solid;
            border-radius: 16px;
            border-color: $day-background-color-hover;
            transform: translate(-4px, -4px);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            z-index: 9;
        }

        &:focus { 
            outline: none;
        }
        
        &:focus:not(:active)::after {
            opacity: 1;
        }

        &--outside {
            color: $element-placeholder-color;

        }

        &--today {
            #{$root}__day {
                border: 1px solid $primary;
                color: $primary;
            }
        }

        &--disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    // Footer
    .DayPicker-Footer {
        margin-top: 8px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .DayPicker-TodayButton {
        @include calendar-button();
    }

    // Days selection
    // Selected day
    .DayPicker-Day--selected:not(.DayPicker-Day--inRange) {
        color: $white;
        background-color: $primary;
    }

    .DayPicker-Day--selected.DayPicker-Day--today .CalendarView__day {
        color: $white;
    }

    // Hover
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):not(
            .DayPicker-Day--today
        ):hover {
        background-color: $day-background-color-hover;
    }

    .DayPicker-Day--today:hover {
        background-color: transparent;

        .CalendarView__day {
            transition: background-color 150ms ease-in-out;
        }
    }

    &__day {
        position: relative;
        z-index: 1;
        width: 34px;
        height: 34px;
        line-height: 30px;
        border-radius: $radius-large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_ranged {
        .DayPicker-Day {
            &--start {
                color: $white;

                #{$root}__day {
                    background-color: $primary;
                }

                &::before {
                    width: 50px;
                    height: 42px;
                    background-color: $primary-light;
                    border-radius: 16px 0px 0px 16px;
                }
            }

            &--end {
                color: #fff;

                #{$root}__day {
                    background-color: $calendar-primary-color;
                }

                &::before {
                    width: 46px;
                    height: 42px;
                    background-color: $primary-light;
                    border-radius: 0px 16px 16px 0px;
                }
            }

            &--inRange {
                &::before {
                    background-color: $primary-light;
                    width: 50px;
                    height: 42px;
                }
            }

            //Today in range
            &--inRange.DayPicker-Day--selected.DayPicker-Day--today .CalendarView__day {
                color: $primary;
            }

            &--inRange:hover .CalendarView__day {
                transition: background-color 150ms ease-in-out;
                background-color: $day-background-color-hover;
            }

            &--outRange {
                pointer-events: none;
                &::before {
                    background-color: $calendar-primary-light-color;
                }
            }
        }
    }
}
