:root {
    --caption-arrow-background-color: #f1f5f7;
    --caption-arrow-color: #323232;
}

html[data-theme="dark"] {
    --caption-arrow-background-color: #323232;
    --caption-arrow-color: #ffffff;
}

$caption-arrow-background-color: var(--caption-arrow-background-color);
$caption-arrow-color: var(--caption-arrow-color);

.CaptionElement {
    height: 24px;
    display: table-caption;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;


        &-icons {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 8px;
        }
    }

    &__content-container {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: color 0.1s ease-in;

        font-weight: $font-weight-lg;
        font-size: $font-size-lg;
        line-height: $line-height-lg;

        &:hover,
        &:active,
        &:focus {
            color: $calendar-primary-color;
        }
    }

    &__button {
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        rect {
            fill: $caption-arrow-background-color;
        }
        path {
            stroke: $caption-arrow-color;
        }
    }

    &__selected-month,
    &__selected-year {
        font-size: inherit;
    }

    &__selected-month {
        margin-right: 5px;
    }

    // Panel changing Month/Year
    &__panel {
        z-index: 10;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: $white;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        gap: 0 0;
        grid-template-areas:
            "HeaderMonths HeaderMonths HeaderYears"
            "Months1stCol Months2ndCol YearsCol";

        &_full-height {
            bottom: 0;
        }
    }

    &__panel-header {
        padding: 5px;

        text-align: center;
        border-bottom: 1px solid gray;
        background-color: $calendar-primary-light-color;

        &_months {
            grid-area: HeaderMonths;
            border-right: 1px solid gray;
        }

        &_years {
            grid-area: HeaderYears;
        }
    }

    &__panel-column-months {
        border-right: 1px solid gray;

        &_first {
            grid-area: Months1stCol;
        }

        &_second {
            grid-area: Months2ndCol;
        }
    }

    &__panel-column-years {
        height: 100%;
        grid-area: YearsCol;
        overflow: auto;
    }

    &__panel-cell {
        padding: 5px 15px;
        cursor: pointer;

        &_selected {
            background-color: $calendar-primary-light-color;
        }

        transition: background-color 0.1s ease-in;

        &:hover {
            background-color: $calendar-secondary-light-color;
        }
    }
}
