@use "../../scss/variables";
@use '../../scss/mixins';

:root {
    --caption-arrow-background-color: #f1f5f7;
    --caption-arrow-color: #323232;
    --caption-header-month-background-color: #f1f5f7;
    --separator-background-color: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
    --caption-arrow-background-color: var(--gray);
    --caption-arrow-color: #ffffff;
    --caption-header-month-background-color: #333646;
    --separator-background-color: rgba(255, 255, 255, 0.1);
}

$caption-arrow-background-color: var(--caption-arrow-background-color);
$caption-arrow-color: var(--caption-arrow-color);
$caption-header-month-background-color: var(--caption-header-month-background-color);
$separator-background-color: var(--separator-background-color);

.CaptionElement {
    $root: &;

    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &-icons {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 8px;
        }
    }

    &__content-container {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: color 0.1s ease-in;

        font-weight: variables.$font-weight-lg;
        font-size: variables.$font-size-lg;
        line-height: variables.$line-height-lg;

        &:hover,
        &:active,
        &:focus {
            color: variables.$calendar-primary-color;
        }
    }

    &__button {
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        rect {
            fill: $caption-arrow-background-color;
        }
        path {
            stroke: $caption-arrow-color;
        }
    }

    &__selected-month,
    &__selected-year {
        font-size: inherit;
    }

    &__selected-month {
        margin-right: 5px;
    }

    // Panel changing Month/Year
    &__panel {
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: variables.$element-background-color;
        margin-bottom: 12px;
        max-height: 294px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        gap: 0 0;
        grid-template-areas:
            "HeaderMonths HeaderMonths HeaderYears"
            "Months1stCol Months2ndCol YearsCol";

        &_full-height {
            bottom: 0;
        }
    }

    &__panel-header {
        padding: 5px;

        text-align: center;
        background-color: $caption-header-month-background-color;
        font-weight: variables.$font-weight-lg;

        &_months {
            position: relative;
            grid-area: HeaderMonths;
            border-radius: 8px 0px 0px 8px;

            //Separator
            &::before {
                display: block;
                content: "";
                position: absolute;
                width: 1px;
                height: 20px;
                top: 50%;
                right: 0;
                background-color: $separator-background-color;
                transform: translateY(-50%);
            }
        }

        &_years {
            grid-area: HeaderYears;
            border-radius: 0px 8px 8px 0px;
        }
    }

    &__panel-column {
        &-months {
            border-right: 1px solid $separator-background-color;

            &_first {
                grid-area: Months1stCol;
            }

            &_second {
                grid-area: Months2ndCol;
            }
        }

        &-years {
            grid-area: YearsCol;
            @include mixins.scrollWrapper(294px, 0, variables.$scroll-thumb-color, variables.$scroll-track-color);
        }
    }

    &__panel-cell {
        &:first-child{
            margin-top: 10px;
        }
        display: block;
        width: fit-content;
        background-color: variables.$element-background-color;
        padding: 4px 8px;
        cursor: pointer;
        transition: background-color 0.1s ease-in;
        margin: 0 auto;
        border-radius: variables.$radius-large;

        &_selected {
            background-color: variables.$primary-light;
        }

        &:hover {
            background-color: variables.$primary-light;
        }

        #{$root}__cell-value {
            text-align: center;
        }
    }
}
