@mixin date-time-panel($root) {
    &__panel-container {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        color: $text-color;

        #{$root}__separator {
            position: relative;
            margin-left: 4px;
            margin-right: 16px;
            width: 1px;
            height: 338px;
            background-color: $dateRange-separator-color;
            transform: translateY(12px);
        }

        .TimePanelView__body {
            column-gap: 2px;
            width: 68px;
        }

        .TimePanelView__header {
            border: none;
            margin-top: 2px;
        }

        .TimePanelView__column {
            height: 298px;
            row-gap: 2px;
            border: none;

            &:not(:last-child) {
                border-right: none;
            }

            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }

            .TimePanelView__cell {
                padding: 0;
                border-radius: $radius-large;

                &-value {
                    padding: 6px 7px;
                }
            }
        }

        .TimePanelView__button_ok {
            @include calendar-button();
        }

        .TimePanelView__footer {
            margin-top: 3px;
        }
    }
}

.DateTimeFieldView {
    $root: &;

    @include date-default-input();

    @include date-default-body();

    @include date-default-sizes($root);

    @include icon-container($root);

    @include date-time-panel($root);

    @include date-default-effects($root);
}
