@use "../../scss/variables" as vars;

:root {
    --slider-background: #dbe2e6;
    --slider-handle-border-color: rgba(0, 0, 0, 0.1);
    --slider-dot-background-color: #4B4E5E;
    --slider-dot-border-color: rgba(255, 255, 255, 0.3);
    --slider-dot-active-background-color: #CBD5DB;
    --slider-dot-active-border-color:  rgba(255, 255, 255, 0.3);
}

html[data-theme="dark"] {
    --slider-background: #333646;
    --slider-handle-border-color: transparent;
    --slider-dot-background-color: #4B4E5E;
    --slider-dot-border-color: rgba(255, 255, 255, 0.3);
    --slider-dot-active-background-color: #CBD5DB;
    --slider-dot-active-border-color:  rgba(255, 255, 255, 0.3);
}

$slider-background: var(--slider-background);
$slider-handle-border-color: var(--slider-handle-border-color);
$slider-dot-background-color: var(--slider-dot-background-color);
$slider-dot-border-color: var(--slider-dot-border-color);
$slider-dot-active-background-color: var(--slider-dot-active-background-color);
$slider-dot-active-border-color:  var(--slider-dot-active-border-color);


.SliderFieldView {
    $root: &;
    margin: 10px 0;

    &_hidden {
        display: unset;
    }

    .rc-slider {
        position: relative;
        height: 8px;
        width: 100%;
        border-radius: 6px;
        background-color: $slider-background;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .rc-slider-rail {
        background-color: vars.$primary;
    }

    .rc-slider * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .rc-slider-track {
        position: absolute;
        left: 0;
        height: 8px;
        border-radius: 6px;
        background-color: vars.$primary;
        z-index: 1;
    }
    .rc-slider-handle {
        position: absolute;
        margin-left: 0;
        margin-top: -8px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        background-color: vars.$primary;
        z-index: 2;
        outline: none;

        border: 1px solid $slider-handle-border-color;

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 4px solid vars.$primary-light;
            transform: translate(-4px, -4px);
            border-radius: 50%;
            pointer-events: none;
            opacity: 0;
            transition: opacity 150ms ease-in-out;
        }

        &-click-focused::before {
            opacity: 1;
        }

        &:active {
            background-color: vars.$primary-dark;
        }
    }
    .rc-slider-mark {
        position: absolute;
        display: inline-block;
        top: 20px;
        left: 0;
        width: 100%;
        font-size: vars.$font-size-xs;
        line-height: vars.$line-height-xs;
        z-index: 3;
    }
    .rc-slider-mark-text {
        padding: 4px;
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        background-color: vars.$element-background-color;
        color: vars.$text-color;
        border: 1px solid vars.$element-border-color;
        border-radius: 21px;
    }
    .rc-slider-step {
        position: absolute;
        width: 100%;
        height: 6px;
        background: transparent;
        z-index: 1;
    }
    .rc-slider-dot {
        position: absolute;
        bottom: 0px;
        margin-left: -4px;
        width: 4px;
        height: 4px;
        border: 1px solid $slider-dot-border-color;
        background-color: $slider-dot-background-color;
        cursor: pointer;
        border-radius: 50%;
        vertical-align: middle;
    }
    .rc-slider-dot:first-child {
        margin-left: -4px;
    }
    .rc-slider-dot:last-child {
        margin-left: -4px;
    }
    .rc-slider-dot-active {
        background-color: $slider-dot-active-background-color;
        border-color: $slider-dot-active-border-color;
    }
    .rc-slider-disabled {
        background-color: $slider-background;

        .rc-slider-handle,
        .rc-slider-dot {
            background-color: $slider-background;
        }
    }
    .rc-slider-disabled .rc-slider-track {
        background-color: $slider-background;
    }
    .rc-slider-disabled .rc-slider-handle,
    .rc-slider-disabled .rc-slider-dot {
        background-color: $slider-background;
        cursor: not-allowed;
    }

    .rc-slider-disabled .rc-slider-handle-click-focused::before {
        opacity: 0;
    }
    .rc-slider-disabled .rc-slider-mark-text,
    .rc-slider-disabled .rc-slider-dot {
        cursor: not-allowed !important;
    }
    .rc-slider-vertical {
        width: 4px;
        height: 100%;
    }
    .rc-slider-vertical .rc-slider-track {
        bottom: 0;
        width: 4px;
    }
    .rc-slider-vertical .rc-slider-handle {
        position: absolute;
        margin-left: -5px;
        margin-bottom: -7px;
    }
    .rc-slider-vertical .rc-slider-mark {
        top: 0;
        left: 10px;
        height: 100%;
    }
    .rc-slider-vertical .rc-slider-step {
        height: 100%;
        width: 4px;
    }
    .rc-slider-vertical .rc-slider-dot {
        left: 2px;
        margin-bottom: -4px;
    }
    .rc-slider-vertical .rc-slider-dot:first-child {
        margin-bottom: -4px;
    }
    .rc-slider-vertical .rc-slider-dot:last-child {
        margin-bottom: -4px;
    }
    .rc-slider-tooltip-zoom-down-enter,
    .rc-slider-tooltip-zoom-down-appear {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: block !important;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
    .rc-slider-tooltip-zoom-down-leave {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: block !important;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
    .rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
    .rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
        -webkit-animation-name: rcSliderTooltipZoomDownIn;
        animation-name: rcSliderTooltipZoomDownIn;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
    .rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
        -webkit-animation-name: rcSliderTooltipZoomDownOut;
        animation-name: rcSliderTooltipZoomDownOut;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
    .rc-slider-tooltip-zoom-down-enter,
    .rc-slider-tooltip-zoom-down-appear {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }
    .rc-slider-tooltip-zoom-down-leave {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
    @-webkit-keyframes rcSliderTooltipZoomDownIn {
        0% {
            opacity: 0;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
        }
        100% {
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    @keyframes rcSliderTooltipZoomDownIn {
        0% {
            opacity: 0;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
        }
        100% {
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    @-webkit-keyframes rcSliderTooltipZoomDownOut {
        0% {
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            opacity: 0;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
        }
    }
    @keyframes rcSliderTooltipZoomDownOut {
        0% {
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            opacity: 0;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
        }
    }
    .rc-slider-tooltip {
        display: inline-block;
    }
    .rc-slider-tooltip {
        position: absolute;
        left: -9999px;
        top: -9999px;
        z-index: 4;
        visibility: visible;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .rc-slider-tooltip * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .rc-slider-tooltip-hidden {
        display: none;
    }
    .rc-slider-tooltip-placement-top {
        padding: 4px 0 8px 0;
    }
    .rc-slider-tooltip-inner {
        padding: 8px;
        font-size: vars.$font-size-lg;
        line-height: vars.$line-height-base;
        color: vars.$text-color;
        border: 1px solid vars.$gray;
        text-align: center;
        text-decoration: none;
        background-color: vars.$element-background-color;
        border-radius: 21px;
    }
}
