@use 'sass:math';
@use "../../scss/variables" as vars;

$tooltip-arrow-width: 10px;
$tooltip-arrow-height: 10px;
$tooltip-arrow-border: math.div($tooltip-arrow-width, 2);
$tooltip-gap: 12px;

$tooltip-arrow-offset-horizontal: 20px;
$tooltip-arrow-offset-vertical-top: 15px;
$tooltip-arrow-offset-vertical-bottom: 7px;

$tooltip-background-color: rgba(65, 65, 65, 0.95);

.TooltipView {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  word-break: break-all;
  padding: 8px 12px;
  border-radius: 6px;
  background: $tooltip-background-color;

  transform: translate(0,0);
  opacity: 0;
  transition: opacity .15s ease-in, transform .15s ease-in;
  z-index: 150;

  &_show {
    opacity: 1;
  }

  &_position{
    &_top, &_topLeft, &_topRight {
      transform: translateY(-$tooltip-gap);
    }

    &_bottom, &_bottomLeft, &_bottomRight {
      transform: translateY($tooltip-gap);
    }

    &_left, &_leftTop, &_leftBottom {
      transform: translateX(-$tooltip-gap);
    }

    &_right, &_rightTop, &_rightBottom {
      transform: translateX($tooltip-gap);
    }
  }

  &__arrow{
    position: absolute;
    
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    border-style: solid;
    border-width: math.div($tooltip-arrow-height, 2);
    border-color: $tooltip-background-color;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);

    &_position_top, &_position_topLeft, &_position_topRight{
      bottom: -$tooltip-arrow-border;
      left: 50%;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position_topLeft{
      left: $tooltip-arrow-offset-horizontal;
    }
    &_position_topRight{
      left: unset;
      right: $tooltip-arrow-offset-horizontal;
    }

    &_position_bottom, &_position_bottomLeft, &_position_bottomRight{
      top: -$tooltip-arrow-border;
      left: 50%;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transform: translateX(-50%) rotate(45deg);
    }
    &_position_bottomLeft{
      left: $tooltip-arrow-offset-horizontal;
    }
    &_position_bottomRight{
      left: unset;
      right: $tooltip-arrow-offset-horizontal;
    }

    &_position_left, &_position_leftTop, &_position_leftBottom{
      right: -$tooltip-arrow-border;
      top: 50%;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position_leftTop{
      top: $tooltip-arrow-offset-vertical-top;
    }
    &_position_leftBottom{
      top: unset;
      bottom: $tooltip-arrow-offset-vertical-bottom;
    }

    &_position_right, &_position_rightTop, &_position_rightBottom{
      left: -$tooltip-arrow-border;
      top: 50%;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
    &_position_rightTop{
      top: $tooltip-arrow-offset-vertical-top;
    }
    &_position_rightBottom{
      top: unset;
      bottom: $tooltip-arrow-offset-vertical-bottom;
    }
  }

  &__content{
    color: vars.$white;
    font-size: 14px;
    line-height: 24px;
  }
}
