@use 'sass:math';
@use "../../scss/variables";
@use '../../scss/mixins';

$tooltip-arrow-width: 10px;
$tooltip-arrow-height: 10px;
$tooltip-arrow-border: math.div($tooltip-arrow-width, 2);
$tooltip-gap: 12px;

$tooltip-arrow-offset-horizontal: 20px;
$tooltip-arrow-offset-vertical-top: 15px;
$tooltip-arrow-offset-vertical-bottom: 7px;

$tooltip-background-color: rgba(65, 65, 65, 0.95);

.TooltipView {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  width: fit-content;
  word-break: break-all;
  padding: 8px 12px;
  border-radius: 6px;
  background: $tooltip-background-color;

  transform: translate(0,0);
  opacity: 0;
  transition: opacity .15s ease-in, transform .15s ease-in;
  z-index: 150;

  &_show {
    opacity: 1;
  }

  @include mixins.absolute-position($tooltip-gap);

  &__arrow{
    position: absolute;

    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    border-style: solid;
    border-width: math.div($tooltip-arrow-height, 2);
    border-color: $tooltip-background-color;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);

    @include mixins.arrow-position(
                    $tooltip-arrow-border,
                    $tooltip-arrow-offset-horizontal,
                    $tooltip-arrow-offset-vertical-top,
                    $tooltip-arrow-offset-vertical-bottom
    );
  }

  &__content{
    color: variables.$white;
    font-size: 14px;
    line-height: 24px;
  }
}
